<!DOCTYPE html>
<html lang="es">
{{> head }}

<body class="sb-nav-fixed">
    <!--<div class="jm-loadingpage">
        <lottie-player src="/img/jsonimg/loadingintro.json" class="" background="transparent" speed="1"
            style="width: 650px; height: 650px;" loop autoplay></lottie-player>
    </div>-->
    <div class="">
        {{> menucabeceraexamenes }}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                {{> menulateralexamenes }}
            </div>
            <div id="layoutSidenav_content" style="display:block;">
                {{> signosvitalespaciente }}
                <input style="display: none; " type="text" id="id" value="{{id}}">                
                <main id="contenedoropcionesprueba" >
                    <div class="d-flex flex-column align-items-center" style="max-height: 80vh; overflow-y: auto;">
                        <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                            <div class="container-fluid px-4">
                                <div class="container">
                                    <div class="text-center">
                                        <lottie-player src="/img/jsonimg/exam.json" background="transparent" speed="0.5"
                                            style="max-width: 650px; height:650px; padding-top: 150px" loop
                                            autoplay></lottie-player>
                                        <!--<img class="mb-4 img-bienvenida" src="/img/bienvenida1.webp" />-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>
    <script src="/js/historiaclinica/examenes/menuexamenes.js"> </script>
    <script src="/js/historiaclinica/examenes/pacienteexamenes.js"> </script>
    <script src="/js/script.js"></script>

    