<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Entidades</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Clientes</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Ingrese un nuevo cliente al sistema
            </div>
            <div>
                <button class="btn position-relative"
                    onclick="limpiarinputs();limpiarinputsradio();restablecerSeleccionPredeterminada()"
                    style="background-color: #793B8E;color: white;border-color: #793B8E;">
                    <i class="fa-solid fa-plus"></i>
                    Nuevo
                </button>
                <button class="btn position-relative" id="btneditarusu" data-toggle="modal"
                    data-target="#modalFormactcliente"
                    style="background-color: #793B8E;color: white;border-color: #793B8E;">
                    <i class="fa-solid fa-pencil-alt"></i>
                    Clientes
                </button>
                <!--<button class="btn position-relative" id="btneliminarusu" data-toggle="modal"
                    data-target="#modalFormactcliente" onclick="eliminarCli()"
                    style="background-color: #793B8E;color: white;border-color: #793B8E;">
                    <i class="fa-solid fa-trash-alt"></i>
                    Eliminar
                </button>-->
            </div>
        </div>
        <div class="card-body " style="max-height: 70vh; overflow-y: auto;">
            <div class="container-fluid body1">
                <form id="formcliente" class="needs-validation" novalidate>
                    <ul class="nav nav-tabs mb-3" id="p1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="p1-tab-1" data-bs-toggle="tab" href="#p1-tabs-1" role="tab"
                                aria-controls="p1-tabs-1" aria-selected="true">Datos</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="p1-tab-2" data-bs-toggle="tab" href="#p1-tabs-2" role="tab"
                                aria-controls="p1-tabs-2" aria-selected="false">Configuraciones adicionales</a>
                        </li>
                    </ul>

                    <!--contenido 1-->
                    <div class="tab-content border-left" id="p1-content">
                        <div class="tab-pane fade show active" id="p1-tabs-1" role="tabpanel"
                            aria-labelledby="p1-tab-1">
                            <div class="col md-12  border-right">
                                <div class="row ">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Información del Cliente</h4>
                                    </div>
                                    <div class="col-md-7  border-right">

                                        <div class="row">

                                            <div class="col-md-4 ">
                                                <div>
                                                    <input type="hidden" id="cli_id" value="0">
                                                </div>
                                                <label class="labels" for="docide">Tipo de documento</label>
                                                <select class="form-select form-control form-control-sm" id="docide"
                                                    aria-label="Default select example" required>
                                                </select>
                                            </div>

                                            <div class="col-md-6"><label class="labels" for="NumDoc">N° de
                                                    documento</label>
                                                <div class="input-group">
                                                    <input type="text" id="NumDoc" class="form-control btn-sm"
                                                        placeholder="Número de documento"
                                                        oninput="limitarInput(event,20);" data-nombre="N°documento"
                                                        value="" required>
                                                </div>
                                                <div class="invalid-feedback">Este campo es obligatorio</div>
                                            </div>

                                        </div>
                                        <div class="row md-7">
                                            <div class="col-md-10">
                                                <label class="labels" for="razsoc">Razon Social</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-sm" value=""
                                                        id="razsoc" placeholder="Ingrese razon social"
                                                        oninput="limitarInput(event,150);" data-nombre="Razon Social"
                                                        required>
                                                </div>
                                                <div class="invalid-feedback">Este campo es obligatorio</div>
                                            </div>

                                            <div class="col-md-10">
                                                <label class="labels" for="Direccion">Dirección</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control btn-sm" id="Direccion"
                                                        value="" placeholder="Dirección"
                                                        oninput="limitarInput(event,100);" data-nombre="Dirección"
                                                        required>
                                                </div>
                                                <div class="invalid-feedback">Este campo es obligatorio</div>


                                            </div>
                                            <div class="col-md-10"><label class="labels"
                                                    for="actividad_economica">Actividad Economica</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-sm" value=""
                                                        id="actividad_economica"
                                                        placeholder="Ingrese actividad economica" ç
                                                        oninput="limitarInput(event,200);"
                                                        data-nombre="Actividad Económica">
                                                </div>

                                            </div>
                                            <div class="col-md-10"><label class="labels" for="forpag_id">Forma de
                                                    pago</label>
                                                <select class="form-select form-control form-control-sm" id="forpag_id"
                                                    aria-label="Default select example">
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col md-5">
                                        <style>
                                            canvas {
                                                max-width: 100%;
                                                width: 400px;
                                                height: 150px;
                                            }
                                        </style>

                                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                            <h5 class="text-right">Logo</h5>
                                            <canvas id="canvas" width="400" height="150" class="rectangulo-canvas mb-3"
                                                required></canvas>
                                            <div class="button-container">
                                                <input type="file" id="file-input" style="display: none;"
                                                    accept="image/*">
                                                <button id="reset-btn" class="btn btn4"
                                                    style="background-color: #793B8E;color: white;border-color: #793B8E;"><i
                                                        class="fa-solid fa-circle-xmark"></i></button>
                                                <button id="upload-btn" class="btn btn4"
                                                    style="background-color: #793B8E;color: white;border-color: #793B8E;"><i
                                                        class="fa-solid fa-upload"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Datos de Contacto</h4>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-12"><label class="labels" for="contacto">Contacto</label>
                                        <div class="input-group">
                                            <input type="text" id="contacto" class="form-control btn-sm"
                                                placeholder="Contacto" oninput="limitarInput(event,100);"
                                                data-nombre="Contacto">
                                        </div>
                                    </div>

                                    <div class="col-md-12"><label class="labels" for="emailcon">Correo</label>
                                        <div class="input-group">
                                            <input type="text" id="emailcon" class="form-control btn-sm"
                                                placeholder="correo@ejemplo.com" oninput="limitarInput(event,50);"
                                                data-nombre="Correo">
                                        </div>

                                    </div>

                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels" for="celular">Celular</label><input
                                            type="text" id="celular" class="form-control btn-sm" value=""
                                            placeholder="Número de celular" data-nombre="Celular" required>
                                    </div>

                                    <div class="col-md-6"><label class="labels" for="telefono">Telefono</label><input
                                            type="text" id="telefono" class="form-control btn-sm"
                                            placeholder="Telefono fijo" data-nombre="Telefono">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Datos del Médico</h4>
                                    </div>
                                </div>

                                <div class="row mt-2">

                                    <div class="col-md-12"><label class="labels" for="emailmedocu">Correo</label>
                                        <div class="input-group">
                                            <input type="text" id="emailmedocu" class="form-control btn-sm"
                                                placeholder="correo@ejemplo.com" oninput="limitarInput(event,50);"
                                                data-nombre="Correo">
                                        </div>
                                    </div>

                                </div>
                                <div class="mt-5 text-center"><button class="btn btn2" type="button"
                                        onclick="guardarcliente()" id="btncli"
                                        style="background-color: #793B8E;color: white;border-color: #793B8E;">
                                        <span><i class="fa-regular fa-floppy-disk"></i> Grabar</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--contenido 2-->

                        <div class="tab-pane fade" id="p1-tabs-2" role="tabpanel" aria-labelledby="p1-tab-2">
                            <div class="p-3 py-6">
                                <div class="row">
                                    <div class="col-md-4 border-right">
                                        <label for="cadcermedN">¿Mostrar fecha de caducidad en certificado
                                            médico?</label><br>
                                        <label><input type="radio" name="respuesta1" value="S" id="cadcermedS">
                                            <label for="cadcermedS">Sí</label><br>
                                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                            <label for="cadcermedN">No</label><br>

                                            <label for="incfirmmedexaS">¿Incluir firma del médico en los
                                                examenes?</label><br>
                                            <input type="radio" name="respuesta2" value="S" id="incfirmmedexaS" checked>
                                            <label for="incfirmmedexaS">Sí</label><br>
                                            <input type="radio" name="respuesta2" value="N" id="incfirmmedexaN">
                                            <label for="incfirmmedexaN">No</label><br>

                                            <label for="IncfirpacexaN">¿Incluir firma del paciente en los
                                                examenes?</label><br>
                                            <input type="radio" name="respuesta3" value="S" id="IncfirpacexaS">
                                            <label for="IncfirpacexaS">Sí</label><br>
                                            <input type="radio" name="respuesta3" value="N" id="IncfirpacexaN" checked>
                                            <label for="IncfirpacexaN">No</label><br>

                                            <label for="InchuepacexaN">¿Incluir Huella del paciente en los
                                                examenes?</label><br>
                                            <input type="radio" name="respuesta4" value="S" id="InchuepacexaS">
                                            <label for="InchuepacexaS">Sí</label><br>
                                            <input type="radio" name="respuesta4" value="N" id="InchuepacexaN" checked>
                                            <label for="InchuepacexaN">No</label><br>
                                    </div>
                                    <div class="col-md-4 border-right">
                                        <label for="IncfordatperS">¿Incluir formatos de datos
                                            personales?</label><br>
                                        <input type="radio" name="respuesta5" value="S" id="IncfordatperS" checked>
                                        <label for="IncfordatperS">Sí</label><br>
                                        <input type="radio" name="respuesta5" value="N" id="IncfordatperN">
                                        <label for="IncfordatperN">No</label><br>

                                        <label for="incdecjurN">¿Incluir Declaración Jurada?</label><br>
                                        <input type="radio" name="respuesta6" value="S" id="incdecjurS">
                                        <label for="incdecjurS">Sí</label><br>
                                        <input type="radio" name="respuesta6" value="N" id="incdecjurN" checked>
                                        <label for="incdecjurN">No</label><br>


                                        <label for="IncfirhueforadiN">¿Incluir firma y huella en formatos
                                            adicionales?</label><br>
                                        <input type="radio" name="respuesta7" value="S" id="IncfirhueforadiS">
                                        <label for="IncfirhueforadiS">Sí</label><br>
                                        <input type="radio" name="respuesta7" value="N" id="IncfirhueforadiN" checked>
                                        <label for="IncfirhueforadiN">No</label><br>

                                        <label for="creusucatocuN">¿Crear usuarios para catgoria
                                            ocupacional?</label><br>
                                        <input type="radio" name="respuesta8" value="S" id="creusucatocuS">
                                        <label for="creusucatocuS">Sí</label><br>
                                        <input type="radio" name="respuesta8" value="N" id="creusucatocuN" checked>
                                        <label for="creusucatocuN">No</label><br>
                                    </div>
                                    <div class="col-md-4 border-right">
                                        <label for="EncorvctocertN">¿Enviar correo recordatorio de vencimiento de
                                            certificado?</label><br>
                                        <input type="radio" name="respuesta9" value="S" id="EncorvctocertS">
                                        <label for="EncorvctocertS">Sí</label><br>
                                        <input type="radio" name="respuesta9" value="N" id="EncorvctocertN" checked>
                                        <label for="EncorvctocertN">No</label><br>

                                        <label for="envcorusuexiN">¿Enviar correo recordatorio a usuario
                                            existente?</label><br>
                                        <input type="radio" name="respuesta10" value="S" id="envcorusuexiS">
                                        <label for="envcorusuexiS">Sí</label><br>
                                        <input type="radio" name="respuesta10" value="N" id="envcorusuexiN" checked>
                                        <label for="envcorusuexiN">No</label><br>

                                        <label for="notinfmed_medocuN">¿Notificar Informe médico al Médico
                                            Ocupacional?</label><br>
                                        <input type="radio" name="respuesta11" value="S" id="notinfmed_medocuS">
                                        <label for="notinfmed_medocuS">Sí</label><br>
                                        <input type="radio" name="respuesta11" value="N" id="notinfmed_medocuN" checked>
                                        <label for="notinfmed_medocuN">No</label><br>

                                        <label for="notinfmedpacN">¿Notificar Informe médico al paciente?</label><br>
                                        <input type="radio" name="respuesta12" value="S" id="notinfmedpacS">
                                        <label for="notinfmedpacS">Sí</label><br>
                                        <input type="radio" name="respuesta12" value="N" id="notinfmedpacN" checked>
                                        <label for="notinfmedpacN">No</label><br>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <!--MODAL CLIENTE-->

            <div class="modal fade" id="modalFormactcliente" role="dialog">
                <div class="modal-dialog modal-lg ">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #0FA0A7;color: white;border-color: #0FA0A7;">
                            <h4 class="modal-title" id="myModalLabel">LISTADO DE
                                CLIENTES</h4>
                        </div>
                        <div class="modal-body">
                            <div class="input-group input-group-sm" style="width: 100%;">
                                <label class="control-label input-group-text" for="clientemodal">CLIENTES</label>
                                <input class="form-control form-control-sm " id="clientemodal"
                                    placeholder="Ingrese número de documento" required></input>
                                <button type="button" class="btn input-group-text" id="searchCliente" onclick="getcliente()">
                                    <i class="fa-solid fa-magnifying-glass"></i></label>
                                </button>
                            </div>
                            <div class="row mb-2 mt-2">
                                <div class="table-responsive">
                                    <table
                                        class="records_list table table-sm table-hover letra animate__animated animate__fadeInDown"
                                        id="tablaclientemodal" style="display: none;">
                                        <thead class="thead">
                                            <tr>
                                                <th scope="col">ACCIÓN</th>
                                                <th scope="col">RUC / DNI</th>
                                                <th scope="col">RAZÓN SOCIAL</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodycliente">
                                        </tbody>



                                    </table>
                                </div>
                                <div class="text-center" id="carga" style="display: none;">
                                    <div class="d-flex justify-content-center align-items-center"
                                        style="min-height: 5vh;">
                                        <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_ginda0jy.json"
                                            background="transparent" speed="1" style="width: 300px; height: 300px;" loop
                                            autoplay></lottie-player>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn"
                                    style="background-color: #793B8E;color: white;border-color: #793B8E;" id="cerrar"
                                    data-dismiss="modal"> <i class="fa-solid fa-circle-xmark"></i>
                                    Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Scripts-->
<script src="/js/entidades/cliente.js"> </script>