<div>
    <div class="container-fluid px-4">
        <h1 class="mt-4 tituloverde">Entidades</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Equipos</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                <div class="left-content">
                    <i class="fas fa-table me-1"></i>
                    <span>Ingrese nuevo equipo</span>
                </div>
                <div>
                    <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                        id="btnGrabar" onclick="guardarequipos()"><i class="fa-regular fa-floppy-disk"
                            style="margin: 8px 12px;"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="container-fluid body1" id="body1">
                    <form id="formequipos" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="p-3 py-3">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right">Datos del Equipo</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-group mb-3 input-group-sm">
                                            <span class="input-group-text">Marca</span>
                                            <input type="text" class="form-control form-control-sm" id="marca" maxlength="20" required>
                                            <div class="invalid-feedback">Este campo es obligatorio</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-3 input-group-sm">
                                            <span class="input-group-text">Modelo</span>
                                            <input type="text" class="form-control form-control-sm" id="modelo" maxlength="20" required>
                                            <div class="invalid-feedback">Este campo es obligatorio</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-3 input-group-sm">
                                            <label class="input-group-text" for="soexa">Ex치menes</label>
                                            <select class="form-select form-control form-control-sm" id="soexa">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group mb-3 input-group-sm">
                                            <span class="input-group-text">Descripci칩n</span>
                                            <input type="text" class="form-control form-control-sm" id="desequi" maxlength="60">
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex">
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text form-control-sm">Fecha de
                                                calibraci칩n</span>
                                            <input type="date" class="form-control text-center form-control-sm" id="feccali"
                                                min="1900-01-01" required>
                                            <div class="invalid-feedback">Este campo es obligatorio</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text form-control-sm">Fecha de
                                                fabricaci칩n</span>
                                            <input type="date" class="form-control text-center form-control-sm" id="fecfab"
                                                min="1900-01-01">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="text" id="inputid" value="{{id}}" style="display: none;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/entidades/equiposCreate.js"> </script>