<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Entidades</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Médico</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Configuración de médicos
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="guardarmedico()"><i class="fa-regular fa-floppy-disk"
                        style="margin: 8px 12px;"></i>
                </button>
            </div>
        </div>
        <div class="card-body ">
            <div class="container-fluid body1">
                <form id="formmedicos" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-12 ">

                            <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="text-right">Datos del Médico</h4>
                                </div>

                                <div class="row ">
                                    <div class="col-md-9 border-right">
                                        <div class="row mt-2 ">
                                            <div class="col-md-4">
                                                <label for="mednam" class="labels">Nombres</label><input type="text"
                                                    class="form-control form-control-sm" placeholder="Ingrese nombres"
                                                    id="mednam" value="" required>
                                                <div class="invalid-feedback">Este campo es obligatorio</div>
                                            </div>


                                            <div class="col-md-4">
                                                <label class="labels" for="medap">Apellido paterno</label><input
                                                    type="text" class="form-control form-control-sm" value="" id="medap"
                                                    placeholder="Ingrese apellido paterno" required>
                                                <div class="invalid-feedback">Este campo es obligatorio</div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="labels" for="medam">Apellido materno</label><input
                                                    type="text" class="form-control form-control-sm" value="" id="medam"
                                                    placeholder="Ingrese apellido materno" required>
                                                <div class="invalid-feedback">Este campo es obligatorio</div>
                                            </div>


                                        </div>

                                        <div class="row mt-2 ">
                                            <div class="col-md-12">
                                                <div class="row ">
                                                    <div class="col-md-2"><label class="labels" for="docide">Tipo de
                                                            documento</label>
                                                        <select class="form-select form-control form-control-sm"
                                                            id="docide" aria-label="Default select example" required>


                                                        </select>
                                                    </div>
                                                    <div class="col-md-2"><label class="labels" for="nundoc">Número
                                                            de
                                                            documento</label><input type="text" id="nundoc"
                                                            class="form-control btn-sm"
                                                            placeholder="Número de documento"
                                                            oninput="limitarCaracteresNumericos(this, 9)" value=""
                                                            required>
                                                        <div class="invalid-feedback">Este campo es obligatorio
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4"><label class="labels" for="med_cmp">N° de
                                                            colegiatura</label><input type="text" id="med_cmp"
                                                            class="form-control btn-sm"
                                                            oninput="limitarCaracteresNumericos(this, 10)"
                                                            placeholder="Colegio de médicos del Perú">
                                                        <div class="invalid-feedback">Este campo es obligatorio
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4"><label class="labels"
                                                            for="medcel">Celular</label><input type="text" id="medcel"
                                                            class="form-control btn-sm"
                                                            oninput="limitarCaracteresNumericos(this, 9)"
                                                            placeholder="Teléfono">
                                                    </div>

                                                    <div class="col-md-4"><label class="labels" for="medTelfij">Teléfono
                                                            Fijo</label><input type="text" id="medTelfij"
                                                            class="form-control btn-sm"
                                                            oninput="limitarCaracteresNumericos(this, 10)"
                                                            placeholder="Teléfono Fijo">
                                                    </div>
                                                    <div class="col-md-4"><label class="labels"
                                                            for="med_correo">Email</label><input type="text"
                                                            id="med_correo" class="form-control btn-sm" value=""
                                                            placeholder="correo@ejemplo.com">
                                                    </div>
                                                    <div class="col-md-4"><label class="labels"
                                                            for="meddir">Dirección</label><input type="text"
                                                            class="form-control btn-sm" id="meddir" value=""
                                                            placeholder="Dirección" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="row mt-2">
                                                    <div class="col-md-6"><label class="labels"
                                                            for="esp_id">Especialidad</label>
                                                        <select class="form-select form-control form-control-sm"
                                                            id="esp_id" aria-label="Default select example" required>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6"><label class="labels" for="med_rne">Codigo
                                                            de
                                                            especialidad</label><input type="text" id="med_rne"
                                                            class="form-control btn-sm"
                                                            oninput="limitarCaracteresNumericos(this, 10)"
                                                            placeholder="Ingrese su codigo">
                                                        <div class="invalid-feedback">Este campo es obligatorio
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <style>
                                            canvas {
                                                max-width: 100%;
                                                width: 250px;
                                                height: 125px;
                                            }
                                        </style>

                                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                            <h5 class="text-right">Firma</h5>
                                            <canvas id="canvas" width="250" height="125" class="rectangulo-canvas mb-3"
                                                required></canvas>
                                            <div class="button-container">
                                                <input type="file" id="file-input" style="display: none;"
                                                    accept="image/*">
                                                <button id="reset-btn" class="btn btn4"
                                                    style="background-color: #793B8E;color: white;border-color: #793B8E;">
                                                    <i class="fa-solid fa-circle-xmark"></i>
                                                </button>
                                                <button id="upload-btn" class="btn btn4"
                                                    style="background-color: #793B8E;color: white;border-color: #793B8E;">
                                                    <i class="fa-solid fa-upload"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <input type="text" id="inputid" value="{{id}}" style="display: none;">
</div>

<script src="/js/entidades/medicosCreate.js"> </script>