<div>
    <div class="container-fluid px-4">
        <h1 class="mt-4 tituloverde">Entidades</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Médico</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                <div class="left-content">
                    <i class="fas fa-table me-1"></i>
                    Ingrese un nuevo usuario al sistema
                </div>
                <div>
                    <button class="btn position-relative" onclick="limpiarinputs();activarCampo();"
                        style="background-color: #793B8E;color: white;border-color: #793B8E;">
                        <i class="fa-solid fa-plus"></i>
                        Nuevo
                    </button>
                    <button class="btn position-relative" id="btneditarusu" data-toggle="modal"
                        data-target="#modalFormusuario"
                        style="background-color: #793B8E;color: white;border-color: #793B8E;">
                        <i class="fa-solid fa-plus"></i>
                        Editar usuario
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="container-fluid body1">
                    <form id="formmedicos" class="needs-validation" novalidate>
                        <div class="row">

                            <div class="col-md-12 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Datos del Médico</h4>
                                    </div>
                                    <div>
                                        <input type="hidden" id="iduser" value="0">
                                    </div>


                                    <div class="row mt-2">
                                        <div class="col-md-4">
                                            <label for="mednam" class="labels">Nombres</label><input type="text"
                                                class="form-control form-control-sm" placeholder="Ingrese nombres"
                                                id="mednam" value="" required>
                                            <div class="invalid-feedback">Este campo es obligatorio</div>
                                        </div>


                                        <div class="col-md-4">
                                            <label class="labels" for="medap">Apellido paterno</label><input type="text"
                                                class="form-control form-control-sm" value="" id="medap"
                                                placeholder="Ingrese apellido paterno" required>
                                            <div class="invalid-feedback">Este campo es obligatorio</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="labels" for="medam">Apellido materno</label><input type="text"
                                                class="form-control form-control-sm" value="" id="medam"
                                                placeholder="Ingrese apellido materno" required>
                                            <div class="invalid-feedback">Este campo es obligatorio</div>
                                        </div>


                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2"><label class="labels" for="docide">Tipo de
                                                        documento</label>
                                                    <select class="form-select form-control form-control-sm" id="docide"
                                                        aria-label="Default select example" required>
                                                        <option value="1">Doc. Nacional de Identidad(DNI)</option>
                                                        <option value="2">Carné de Extranjería</option>
                                                        <option value="3">Pasaporte</option>
                                                        <option value="4">Documento de Identidad Extranjero</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2"><label class="labels" for="nundoc">Número de
                                                        documento</label><input type="text" id="nundoc"
                                                        class="form-control btn-sm" placeholder="Número de documento"
                                                        oninput="limitarCaracteresNumericos(this, 9)" value = "" required>
                                                    <div class="invalid-feedback">Este campo es obligatorio</div>
                                                </div>

                                                <div class="col-md-4"><label class="labels" for="med_cmp">N° de
                                                        colegiatura</label><input type="text" id="med_cmp"
                                                        class="form-control btn-sm"
                                                        oninput="limitarCaracteresNumericos(this, 10)"
                                                        placeholder="Colegio de médicos del Perú">
                                                    <div class="invalid-feedback">Este campo es obligatorio</div>
                                                </div>
                                                <div class="col-md-4"><label class="labels"
                                                        for="medcel">Celular</label><input type="text" id="medcel"
                                                        class="form-control btn-sm"
                                                        oninput="limitarCaracteresNumericos(this, 9)"
                                                        placeholder="Teléfono">
                                                </div>

                                                <div class="col-md-4"><label class="labels" for="medTelfij">Teléfono
                                                        Fijo</label><input type="text" id="medTelfij"
                                                        class="form-control btn-sm"
                                                        oninput="limitarCaracteresNumericos(this, 10)"
                                                        placeholder="Teléfono Fijo">
                                                </div>
                                                <div class="col-md-4"><label class="labels"
                                                        for="med_correo">Email</label><input type="text" id="med_correo"
                                                        class="form-control btn-sm" value=""
                                                        placeholder="correo@ejemplo.com">
                                                </div>
                                                <div class="col-md-4"><label class="labels"
                                                        for="meddir">Dirección</label><input type="text"
                                                        class="form-control btn-sm" id="meddir" value=""
                                                        placeholder="Dirección" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="row mt-2">
                                                <div class="col-md-4">
                                                    <label class="control-label">Especialidad:</label>
                                                    <select class="form-select form-control form-control-sm" id="esp_id"
                                                        data-toggle="modal" data-target="#modalFormespecialidad"
                                                        placeholder="--Seleccione--" aria-label="Default select example"
                                                        required>
                                                        <div class="invalid-feedback">Este campo es obligatorio</div>


                                                    </select>
                                                    <div class="invalid-feedback">Este campo es obligatorio</div>
                                                </div>
                                                <div class="col-md-4"><label class="labels" for="med_rne">Codigo de
                                                        especialidad</label><input type="text" id="med_rne"
                                                        class="form-control btn-sm"
                                                        oninput="limitarCaracteresNumericos(this, 10)"
                                                        placeholder="Ingrese su codigo">
                                                    <div class="invalid-feedback">Este campo es obligatorio</div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="labels" for="med_firma">Firma</label>
                                                    <input type="file" class="form-select form-control form-control-sm" id="med_firma">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5 text-center"><button class="btn btn2" type="button"
                                            onclick="guardarMedico()" id="btn">
                                            <span><i class="fa-regular fa-floppy-disk"></i> Grabar</span>
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>
                </div>

                </form>
            </div>
            <!--MODAL ESPECIALIDAD-->

            <div class="modal fade" id="modalFormespecialidad" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #0FA0A7;color: white;border-color: #0FA0A7;">
                            <h4 class="modal-title" id="myModalLabel">BUSQUEDA DE ESPECIALIDAD</h4>
                        </div>
                        <div class="modal-body">
                            <div class="input-group input-group-sm" style="width: 100%;">
                                <label class="control-label input-group-text"
                                    for="especialidadmodal">Especialidad</label>
                                <input class="form-control form-control-sm " id="especialidadmodal"
                                    placeholder="Ingrese la especialidad" required></input>
                                <label class="input-group-text form-control-sm"><i class="fa-solid fa-user"></i></label>
                            </div>
                            <!--<div class="row mb-2">
                                    <label class="col-sm-3 col-form-label" for="clientemodal">BUSCAR: </label>
                                    <div class="col-sm-9">
                                        <input class="form-control obs" id="clientemodal"
                                            placeholder="Ingrese los nombres o el DNI del usuario" required></input>
                                    </div>
                                </div>-->
                            <div class="row mb-2 mt-2">
                                <div class="table-responsive">
                                    <table
                                        class="records_list table table-sm table-hover letra animate__animated animate__fadeInDown"
                                        id="tablaususuariomodal" style="display: none;">
                                        <thead class="thead">
                                            <tr>

                                                <th scope="col">NOMBRES Y APELLIDOS</th>
                                                <th scope="col">DNI</th>
                                                <th scope="col">USUARIO</th>
                                                <th scope="col">ACCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyususuariomodal">
                                        </tbody>
                                    </table>

                                </div>
                                <div class="text-center" id="carga" style="display: none;">
                                    <div class="d-flex justify-content-center align-items-center"
                                        style="min-height: 5vh;">
                                        <lottie-player src="../img/jsonimg/Cargahealth.json" background="transparent"
                                            speed="1" style="width: 300px; height: 300px;" loop
                                            autoplay></lottie-player>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn"
                                    style="background-color: #793B8E;color: white;border-color: #793B8E;"
                                    id="cerrarcliente" data-dismiss="modal"> <i class="fa-solid fa-circle-xmark"></i>
                                    Cerrar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Scripts-->
<script src="/js/entidades/medicos.js"> </script>