<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Entidades</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Protocolo</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Configuración de protocolos
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; display:none"
                    id="btnAdherir" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-solid fa-plus"></i>
                    Añadir desde otro protocolo
                </button>

                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    type="submit" id="Guardar" onclick="event.preventDefault();Guardar()">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>

            </div>
            <!--MODAL PROTOCOLO-->
            <div class="modal fade" id="modalFormProtocolo" role="dialog">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #0FA0A7;color: white;border-color: #0FA0A7;">
                            <h4 class="modal-title" id="myModalLabel">BUSQUEDA DE PROTOCOLOS</h4>
                        </div>
                        <div class="modal-body">
                            <div class="input-group input-group-sm" style="width: 100%;">
                                <label class="control-label input-group-text" for="protocolomodal">PROTOCOLO</label>
                                <input class="form-control form-control-sm " id="protocolomodal"
                                    placeholder="Ingrese el nombre del protocolo" required></input>
                                <label class="input-group-text form-control-sm" for="protocolomodal"><i
                                        class="fa-solid fa-list-ul"></i></label>
                            </div>
                            <div class="row mb-2 mt-2">
                                <div class="table-responsive">
                                    <table
                                        class="records_list table table-sm table-hover letra animate__animated animate__fadeInDown"
                                        id="tableprotocolomodal" style="display: none;">
                                        <thead class="thead">
                                            <tr>
                                                <th scope="col">ACCIÓN</th>
                                                <th scope="col">CÓDIGO</th>
                                                <th scope="col">PROTOCOLO</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyprotocolomodal">
                                        </tbody>
                                    </table>

                                </div>
                                <div class="text-center" id="cargaprotocolomodal" style="display: none;">
                                    <div class="d-flex justify-content-center align-items-center"
                                        style="min-height: 5vh;">
                                        <lottie-player src="/img/jsonimg/Cargahealth.json" background="transparent"
                                            speed="1" style="width: 200px; height: 200px;" loop
                                            autoplay></lottie-player>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn"
                                    style="background-color: #793B8E;color: white;border-color: #793B8E;"
                                    id="cerrarprotocolo" data-dismiss="modal"> <i class="fa-solid fa-circle-xmark"></i>
                                    Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-body " style="max-height: 70vh; overflow-y: auto;">
            <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab"
                        aria-controls="ex1-tabs-1" aria-selected="true">Datos</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab"
                        aria-controls="ex1-tabs-2" aria-selected="false">Exámenes</a>
                </li>
            </ul>

            <div class="tab-content" id="ex1-content">
                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                    <div class="row mt-2">
                        <div class="col-md-12 form-inline col-sm-12 form-group mb-1 mt-1">
                            <div class="input-group input-group-sm" style="width: 100%;">
                                <label class="control-label input-group-text" for="codemp">Cliente</label>
                                <input type="text" oninput="limitarCaracteresNumericos(this, 9);" id="codemp"
                                    class="form-control form-control-sm" placeholder="Código de la empresa"
                                    aria-label="Username" disabled>
                                <button type="button" data-toggle="modal" data-target="#modalFormEmpresa"
                                    class="btn input-group-text" id="empresa">
                                    <i class="fa-solid fa-building mr-1"></i>
                                </button>
                                <input type="text" style="width: 30%;" id="nomempresa"
                                    class="form-control form-control-sm" placeholder="Nombre de la empresa"
                                    aria-label="Server" disabled>
                                <button type="button" onclick="LimpiarEmpresa()" class="btn input-group-text"
                                    id="nomempresa">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--MODAL EMPRESA-->
                    <div class="modal fade" id="modalFormEmpresa" role="dialog">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-header"
                                    style="background-color: #0FA0A7;color: white;border-color: #0FA0A7;">
                                    <h4 class="modal-title" id="myModalLabel">BUSQUEDA DE EMPRESAS</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group input-group-sm" style="width: 100%;">
                                        <label class="control-label input-group-text" for="empresamodal">EMPRESA</label>
                                        <input class="form-control form-control-sm " id="empresamodal"
                                            placeholder="Ingrese el nombre del empleado" required></input>
                                        <label class="input-group-text form-control-sm" for="empresamodal"><i
                                                class="fa-solid fa-building mr-1"></i></label>
                                    </div>
                                    <div class="row mb-2 mt-2">
                                        <div class="table-responsive">
                                            <table
                                                class="records_list table table-sm table-hover letra animate__animated animate__fadeInDown"
                                                id="tableempresamodal" style="display: none;">
                                                <thead class="thead">
                                                    <tr>
                                                        <th scope="col">ACCIÓN</th>
                                                        <th scope="col">CÓDIGO</th>
                                                        <th scope="col">EMPRESA</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bodyempresamodal">
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="text-center" id="cargaempresamodal" style="display: none;">
                                            <div class="d-flex justify-content-center align-items-center"
                                                style="min-height: 5vh;">
                                                <lottie-player src="/img/jsonimg/Cargahealth.json"
                                                    background="transparent" speed="1"
                                                    style="width: 200px; height: 200px;" loop autoplay></lottie-player>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn"
                                            style="background-color: #793B8E;color: white;border-color: #793B8E;"
                                            id="cerrarempresa" data-dismiss="modal"> <i
                                                class="fa-solid fa-circle-xmark"></i>
                                            Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-1">
                            <label for="vigente" class="labels mr-5">
                                Estado:</label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-check-input" type="radio" id="vigente" name="estado" value="V" required
                                checked>
                            <label class="form-check-label mr-4" for="vigente">Vigente</label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-check-input" type="radio" id="historico" name="estado" value="H"
                                required>
                            <label class="form-check-label mr-4" for="historico">Histórico</label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-check-input" type="radio" id="cotizacion" name="estado" value="C"
                                required>
                            <label class="form-check-label mr-4" for="cotizacion">Cotización</label>
                        </div>
                        <div class="col-md-2">
                            <input class="form-check-input" type="radio" id="anulado" name="estado" value="A" required>
                            <label class="form-check-label mr-4" for="anulado">Anulado</label>
                        </div>
                    </div>

                    <div class="row mt-2" id="cotiza_cant_pac">
                        <div class="col-md-6 input-group input-group-sm">
                            <label class="input-group-text" for="cant_paci">Cantidad Pacientes</label>
                            <input type="text" class="form-control form-control-sm"
                                value="1"
                                id="cant_paci" placeholder="Ingrese la cantidad de pacientes" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>
                            <label class="input-group-text" for="cant_paci"><i class="fa-solid fa-list-ul"></i></label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 input-group input-group-sm">
                            <label class="input-group-text" for="tipexa_id">Tipo</label>
                            <select class="form-select" id="tipexa_id">
                            </select>
                            <label class="input-group-text" for="tipexa_id"><i class="fa-solid fa-list-ul"></i></label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 input-group input-group-sm">
                            <label class="input-group-text" for="nompro">Nombre</label>
                            <input type="text" class="form-control form-control-sm" value="" id="nompro"
                                placeholder="Ingrese el nombre del protocolo" required>
                            <label class="input-group-text" for="nompro"><i class="fa-solid fa-font"></i></label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 input-group input-group-sm">
                            <label class="input-group-text" for="comentarios">Comentarios</label>
                            <textarea type="text" class="form-control form-control-sm" value="" id="comentarios"
                                placeholder="Ingrese algún comentario" required></textarea>
                            <label class="input-group-text" for="comentarios"><i
                                    class="fa-solid fa-comment"></i></label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 input-group input-group-sm">
                            <label class="input-group-text" for="tiemval_cermed">Tiempo de caducidad de
                                certificado de aptitud</label>
                            <input type="text" class="form-control form-control-sm"
                                oninput="limitarCaracteresNumericos(this, 2); CalcularFecVen(this);" value="1"
                                id="tiemval_cermed" placeholder="Ingrese el tiempo en años" required>
                            <label class="input-group-text" for="tiemval_cermed"><i
                                    class="fa-solid fa-calendar-day"></i></label>
                        </div>
                        <div class="col-md-6 input-group input-group-sm">
                            <label class="input-group-text" for="fecvcto_cermed">Fecha de vencimiento</label>
                            <input type="date" class="form-control form-control-sm" value="" id="fecvcto_cermed"
                                placeholder="Ingrese el nombre" required disabled>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <div class="table-responsive scrollable-modal" id="tablaaccesos">
                        <table class="records_list table table-sm table-hover letra" id="mydatatable">
                            <thead class="thead sticky-top">
                                <tr>
                                    <th scope="col">GRUPO</th>
                                    <th scope="col">EXÁMEN</th>
                                    <th scope="col">CHECK</th>
                                    <th scope="col">GRUPO ETARIO</th>
                                    <th scope="col">PRECIO UNITARIO</th>
                                    <th scope="col">COMENTARIO</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyexamen">
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center" id="cargaacc" style="display: none;">
                        <div class="d-flex justify-content-center align-items-center" style="min-height: 5vh;">
                            <lottie-player src="../img/jsonimg/Cargahealth.json" background="transparent" speed="1"
                                style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="text" id="inputid" value="{{id}}" style="display: none;">
</div>

<script src="/js/entidades/protocoloCreate.js"> </script>