
<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Gestión de personal</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Asistencia</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Consulte las asistencias del personal
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white;" id="btnfiltros">
                    <i class="fa-solid fa-sliders"></i>
                </button>
            </div>
        </div>
        
        <div class="card-body body1">
            <div class="row textos " id="filtros"
                style="display: ; border: 2px solid #D8D8D8; vertical-align: center; padding: 5px; border-radius: 7px;">
                <div class="col-md-4 form-inline col-sm-12 form-group mb-1 mt-1">
                    <div class="input-group input-group-sm" style="width: 100%;">
                        <label class="input-group-text form-control-sm" for="protocolo">Protocolo</label>
                        <input type="text" id="protocolo" class="form-control form-control-sm"
                            placeholder="Nombre de protocolo">
                        <button type="button" class="btn input-group-text" id="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>


                    </div>
                </div>
                <div class="col-md-5 form-inline col-sm-12 form-group mb-1 mt-1">
                    <div class="input-group input-group" style="width: 100%;">
                        <button type="button" class="btn input-group-text" id="refresh">
                            <i class="fa-solid fa-retweet"></i>
                        </button>
                        <a class="opcionform btn input-group-text" href="/protocolocreate"><i
                                class="fa-solid fa-plus"></i>
                        </a>
                        <button type="button" class="btn input-group-text" id="edit" onclick="navegaredit('mydatatable','protocoloedit')">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" class="btn input-group-text" id="delete" onclick="eliminar()">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                        <button type="button" class="btn input-group-text" id="download">
                            <i class="fa-solid fa-download"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <table
                    class="records_list table table-sm table-striped table-bordered letra animate__animated animate__fadeInDown"
                    id="mydatatable" style="display: none;">
                    <thead class="thead">
                        <tr>
                            <th scope="col">CHECK</th>
                            <th scope="col">NOMBRE DE PROTOCOLO</th>
                            <th scope="col">EMPRESA</th>
                            <th scope="col">TIPO DE EXAMEN</th>
                            <th scope="col">ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="text-center" id="carga" style="display: none;">
                <div class="d-flex justify-content-center align-items-center" style="min-height: 5vh;">
                    <lottie-player src="/img/jsonimg/Cargahealth.json" background="transparent" speed="1"
                        style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/entidades/protocolo.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>


 