<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Historia Clínica</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Pacientes citados</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Pacientes citados
            </div>
            <div>

            </div>
        </div>

        <div class="card-body body1">
            <div class="row textos " id="filtros"
                style="display: ; border: 2px solid #D8D8D8; vertical-align: center; padding: 5px; border-radius: 7px;">
                <div class="col-md-3 form-inline col-sm-12 form-group mb-1 mt-1">
                    <div class="input-group input-group-sm" style="width: 100%;">
                        <label class="input-group-text form-control-sm" for="fechainicio">Inicio</label>
                        <input type="date" class="form-control form-control-sm custom-date-input" id="fechainicio"
                            name="fechainicio" min="2000-01-01" max="2100-12-31" step="1" required>
                        <label class="input-group-text form-control-sm" for="fechafin">Fin</label>
                        <input type="date" class="form-control form-control-sm" id="fechafin" name="fechafin"
                            min="2000-01-01" max="2100-12-31" step="1" required>
                    </div>
                </div>
                <div class="col-md-3 form-inline col-sm-12 form-group mb-1 mt-1">
                    <div class="input-group input-group-sm" style="width: 100%;">
                        <label class="input-group-text form-control-sm" for="paciente">Paciente</label>
                        <input type="text" id="paciente" class="form-control form-control-sm"
                            placeholder="Nombre de paciente">
                        <label class="input-group-text form-control-sm" for="paciente"><i class="fa-solid fa-user"></i></label>
                    </div>
                </div>
                <div class="col-md-2 form-inline col-sm-12 form-group mb-1 mt-1">
                    <div class="input-group input-group-sm" style="width: 100%;">
                        <label class="control-label input-group-text" for="estado">Estado</label>
                        <select class="form-select" name="estado" id="estado" aria-label="Default select example">
                            <option value="%">NO ESPECIFICA</option>
                            <option value="ATENDIDO">ATENDIDO</option>
                            <option value="CONCLUIDO">CONCLUIDO</option>
                            <option value="GENERADO">GENERADO</option>
                            <option value="PENDIENTE">PENDIENTE</option>
                            <option value="CERRADO">CERRADO</option>
                        </select>
                        <label class="input-group-text form-control-sm" for="fechainicio"><i class="fa-solid fa-list-ul"></i></label>
                    </div>
                </div>
                <div class="col-md-2 form-inline col-sm-12 form-group mb-1 mt-1">
                    <div class="input-group input-group-sm" style="width: 100%;">
                        <label class="control-label input-group-text" for="examen">Examen</label>
                        <select class="form-select" name="examen" id="examen" aria-label="Default select example">
                        </select>
                        <label class="input-group-text form-control-sm" for="fechainicio"><i class="fa-solid fa-paste"></i></label>
                    </div>
                </div>

                <div class="col-md-2 form-inline col-sm-12 form-group mb-1 mt-1">
                    <div class="input-group input-group" style="width: 100%;">
                        <button type="button" class="btn input-group-text" id="search" onclick="getPacientesCitados()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button type="button" class="btn input-group-text" id="refresh" onclick="getPacientesCitados()">
                            <i class="fa-solid fa-retweet"></i>
                        </button>
                        <button type="button" class="btn input-group-text" id="download"
                            onclick="">
                            <i class="fa-solid fa-download"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <table
                    class="records_list table table-sm table-striped table-bordered letra animate__animated animate__fadeInDown"
                    id="mydatatable" style="display: none;">
                    <thead class="thead">
                        <th scope="col">FECHA DE CITA</th>
                            <th scope="col">PACIENTE</th>
                            <th scope="col">EDAD</th>
                            <th scope="col">CLIENTE</th>
                            <th scope="col">TIPO EX.</th>
                            <th scope="col">H. ADM</th>
                            <th scope="col">MENU</th>
                            <th scope="col">RECORD</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="text-center" id="carga" style="display: none;">
                <div class="d-flex justify-content-center align-items-center" style="min-height: 5vh;">
                    <lottie-player src="/img/jsonimg/Cargahealth.json" background="transparent" speed="1"
                        style="width: 300px; height: 300px; " loop autoplay></lottie-player>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/historiaclinica/pacientescitados.js"> </script>