
<!--ya no se utiliza este codigo uuwuuuuuuuuuuuuu />-->
<div class="d-flex flex-column align-items-center" style="max-height: 100vh; overflow-y: auto;">
  <div class="flex-grow-1 d-flex justify-content-center align-items-center">
    <div class="container-fluid px-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <div>
              <h2 class="">Bienvenido</h2>
              <h1 style="color:#0FA0A7"><strong style="color:#793B8E">SO</strong><strong
                  style="color:#0FA0A7">Net</strong><span style="font-weight: lighter;"></span></h1>
              <p class="">Bienvenido al sistema de Salud Ocupacional de la Clínica San Pedro, donde podrá visualizar los diferentes tipos
                de reportes y funcionalidades. Si tiene alguna pregunta, no dude en ponerse en contacto con el área de
                sistemas de la Clínica San Pedro.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="text-center">
              <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_1pxqjqps.json" background="transparent"
                speed="1" style="max-width: 100%; height: auto;" loop autoplay></lottie-player>
              <!--<img class="mb-4 img-bienvenida" src="/img/bienvenida1.webp" />-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>