<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <div class="text-center" id="cargamodalreg" style="display:;">
                    <div class="d-flex justify-content-center align-items-center" style="min-height: 5vh;">
                        <lottie-player src="../img/jsonimg/401.json" background="transparent" speed="1"
                            style="width: 350px; height: 350px;" loop autoplay></lottie-player>
                    </div>
                </div>
                <p class="lead">
                    Usted no esta cuenta con suficientes privilegios para acceder a este recurso.</p>
                <a href="/">
                    <i class="fas fa-arrow-left me-1"></i>
                    Regresar
                </a>
            </div>
        </div>
    </div>
</div>



