<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"
    integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Audiometría</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Formulario de audiometría
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>

        </div>
        <div class="card-body " style="max-height: 70vh; overflow-y: auto; ">
            <input type="text" class="form-control" id="nuncom" style="display: none;" value="0">
            <input type="text" class="form-control" id="codpru_id" style="display: none;" value="3">
            <input type="text" class="form-control" id="soexa" style="display: none;" value="003">
            <div class="row mt-2">
                <div class="row">
                    <div class="row">
                        <h5 class="tituloverde">AUDIÓMETRO</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-sm">
                                <label class="control-label input-group-text" for="equi_id">Marca y
                                    modelo</label>
                                <select class="form-select" name="" id="equi_id"></select>
                                <label class="input-group-text form-control-sm" for="equi_id"><i
                                        class="fa-solid fa-headphones"></i></label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <label class="control-label input-group-text" for="feccali">Fecha de
                                    calibración</label>
                                <input class="form-control form-control-sm " id="feccali" disabled>
                                <label class="input-group-text form-control-sm" for="feccali"><i
                                        class="fa-solid fa-calendar-days"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="row">
                        <h5 class="tituloverde">Datos adicionales</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group input-group-sm">
                                <label class="control-label input-group-text" for="tiem_exp_hrs">Tiempo de exposición
                                    diario</label>
                                <input class="form-control form-control-sm " id="tiem_exp_hrs" type="number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group input-group-sm align-items-center">
                                <span class="control-label input-group-text">Uso de protector
                                    auditivo</span>
                                <div class="form-check">
                                    <label for="uso_pro_uditivoTap" class="form-check-label pr-4 mr-2">Tapones</label>
                                    <input type="radio" class="form-check-input" id="uso_pro_uditivoTap"
                                        name="uso_pro_uditivo" value="Tapones">
                                </div>
                                <div class="form-check ps-4">
                                    <label for="uso_pro_uditivoOre" class="form-check-label pr-4 mr-2">Orejeras</label>
                                    <input type="radio" class="form-check-input" id="uso_pro_uditivoOre"
                                        value="Orejeras" name="uso_pro_uditivo" checked>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group input-group-sm">
                                <label class="control-label input-group-text" for="apre_ruido">Apreciación del
                                    ruido</label>
                                <select class="form-select" id="apre_ruido">
                                    <option value="RUIDO NO MOLESTO">RUIDO NO MOLESTO</option>
                                    <option value="RUIDO MODERADO">RUIDO MODERADO</option>
                                    <option value="RUIDO MUY INTENSO">RUIDO MUY INTENSO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <table
                            class="align-middle records_list table table-sm table-bordered letra animate__animated animate__fadeIn"
                            id="ante_relacionados">
                            <thead class="text-start">
                                <th>ANTECEDENTES RELACIONADOS</th>
                                <th class="text-center">RESULTADO</th>
                            </thead>
                            <tbody class="text-start">
                                <tr>
                                    <td><span>Consumo</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="consumo" value="SI"
                                                id="si_consumo">
                                            <label class="form-check-label" for="si_consumo">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="consumo" value="NO"
                                                id="no_consumo" checked>
                                            <label class="form-check-label" for="no_consumo">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Servicio militar</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="servicio_militar"
                                                value="SI" id="si_servicio_militar">
                                            <label class="form-check-label" for="si_servicio_militar">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="servicio_militar"
                                                value="NO" id="no_servicio_militar" checked>
                                            <label class="form-check-label" for="no_servicio_militar">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Hobbies con exposición al ruido</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="hobbies_ruido" value="SI"
                                                id="si_hobbies_ruido">
                                            <label class="form-check-label" for="si_hobbies_ruido">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="hobbies_ruido" value="NO"
                                                id="no_hobbies_ruido" checked>
                                            <label class="form-check-label" for="no_hobbies_ruido">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Exposición laboral a químicos</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exposicion_quimicos"
                                                value="SI" id="exposicion_quimicos_si">
                                            <label class="form-check-label" for="exposicion_quimicos_si">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exposicion_quimicos"
                                                value="NO" id="exposicion_quimicos_no" checked>
                                            <label class="form-check-label" for="exposicion_quimicos_no">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Infección al oído</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="infeccion_oido"
                                                value="SI" id="si_infeccion_oido">
                                            <label class="form-check-label" for="si_infeccion_oido">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="infeccion_oido"
                                                value="NO" id="no_infeccion_oido" checked>
                                            <label class="form-check-label" for="no_infeccion_oido">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Uso de ototóxicos</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="uso_ototoxicos"
                                                value="SI" id="si_uso_ototoxicos">
                                            <label class="form-check-label" for="si_uso_ototoxicos">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="uso_ototoxicos"
                                                value="NO" id="no_uso_ototoxicos" checked>
                                            <label class="form-check-label" for="no_uso_ototoxicos">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Otros</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="otros" value="SI"
                                                id="si_otros">
                                            <label class="form-check-label" for="si_otros">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="otros" value="NO"
                                                id="no_otros" checked>
                                            <label class="form-check-label" for="no_otros">NO</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table
                            class="align-middle records_list table table-sm table-bordered letra animate__animated animate__fadeIn"
                            id="sintomas_actuales">
                            <thead class="text-start">
                                <th>SÍNTOMAS ACTUALES</th>
                                <th class="text-center">RESULTADO</th>
                            </thead>
                            <tbody class="text-start">
                                <tr>
                                    <td><span>Disminución de audición</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="disminucion_audicion"
                                                id="disminucion_audicion_si" value="SI">
                                            <label class="form-check-label" for="disminucion_audicion_si">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="disminucion_audicion"
                                                id="disminucion_audicion_no" value="NO" checked>
                                            <label class="form-check-label" for="disminucion_audicion_no">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Dolor de oído</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="dolor_oido"
                                                id="dolor_oido_si" value="SI">
                                            <label class="form-check-label" for="dolor_oido_si">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="dolor_oido" value="NO" id="dolor_oido_no" checked>
                                            <label class="form-check-label" for="dolor_oido_no">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Zumbidos</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="zumbidos"
                                                id="zumbidos_si" value="SI">
                                            <label class="form-check-label" for="zumbidos_si">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="zumbidos" value="NO" 
                                                id="zumbidos_no" checked>
                                            <label class="form-check-label" for="zumbidos_no">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Mareos</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mareos" id="mareos_si" value="SI">
                                            <label class="form-check-label" for="mareos_si">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="mareos" value="NO" id="mareos_no"
                                                checked>
                                            <label class="form-check-label" for="mareos_no">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Infección al oído</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="infeccion_oido_2"
                                                id="infeccion_oido_2_si" value="SI">
                                            <label class="form-check-label" for="infeccion_oido_2_si">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="infeccion_oido_2"
                                                id="infeccion_oido_2_no" value="NO" checked>
                                            <label class="form-check-label" for="infeccion_oido_2_no">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Estuvo expuesto al ruido 14 horas previas</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exposicion_ruido"
                                                id="exposicion_ruido_si" value="SI">
                                            <label class="form-check-label" for="exposicion_ruido_si">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exposicion_ruido"
                                                id="exposicion_ruido_no" value="NO" checked>
                                            <label class="form-check-label" for="exposicion_ruido_no">NO</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Otros</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="otros_2" id="otros_2_si" value="SI">
                                            <label class="form-check-label" for="otros_2_si">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="otros_2" id="otros_2_no" value="NO"
                                                checked>
                                            <label class="form-check-label" for="otros_2_no">NO</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <h4 class="tituloverde">OTOSCOPÍA</h4>
                    <div class="col-md-6">
                        <table
                            class="align-middle records_list table table-sm table-bordered letra animate__animated animate__fadeIn"
                            id="otos_oido_derecho">
                            <thead>
                                <th colspan="3">OÍDO DERECHO</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>Triángulo de luz</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="triangulo_luzD" value="SI" id="triangulo_luzD_S">
                                            <label class="form-check-label" for="triangulo_luzD_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="triangulo_luzD" value="NO" id="triangulo_luzD_N"
                                                checked>
                                            <label class="form-check-label" for="triangulo_luzD_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Perforaciones</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="perforacionesD" value="SI" id="perforacionesD_S">
                                            <label class="form-check-label" for="perforacionesD_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="perforacionesD" value="NO" id="perforacionesD_N"
                                                checked>
                                            <label class="form-check-label" for="perforacionesD_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Abombamiento</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="abombamientoD" value="SI" id="abombamientoD_S">
                                            <label class="form-check-label" for="abombamientoD_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="abombamientoD" value="NO" id="abombamientoD_N"
                                                checked>
                                            <label class="form-check-label" for="abombamientoD_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Tapón de Cerumen</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="tapon_cerumenD" value="SI" id="tapon_cerumenD_S">
                                            <label class="form-check-label" for="tapon_cerumenD_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="tapon_cerumenD" value="NO" id="tapon_cerumenD_N"
                                                checked>
                                            <label class="form-check-label" for="tapon_cerumenD_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Otros</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="otrosD" value="SI" id="otrosD_S">
                                            <label class="form-check-label" for="otrosD_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="otrosD" value="NO" id="otrosD_N"
                                                checked>
                                            <label class="form-check-label" for="otrosD_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table
                            class="align-middle records_list table table-sm table-bordered letra animate__animated animate__fadeIn"
                            id="otos_oido_izquierdo">
                            <thead>
                                <th colspan="3">OÍDO IZQUIERDO</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>Triángulo de luz</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="triangulo_luzI" value="SI" id="triangulo_luzI_S">
                                            <label class="form-check-label" for="triangulo_luzI_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="triangulo_luzI" value="NO" id="triangulo_luzI_N"
                                                checked>
                                            <label class="form-check-label" for="triangulo_luzI_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Perforaciones</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="perforacionesI" value="SI" id="perforacionesI_S">
                                            <label class="form-check-label" for="perforacionesI_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="perforacionesI" value="NO" id="perforacionesI_N"
                                                checked>
                                            <label class="form-check-label" for="perforacionesI_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Abombamiento</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="abombamientoI" value="SI" id="abombamientoI_S">
                                            <label class="form-check-label" for="abombamientoI_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="abombamientoI" value="NO" id="abombamientoI_N"
                                                checked>
                                            <label class="form-check-label" for="abombamientoI_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Tapón de Cerumen</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="tapon_cerumenI" value="SI" id="tapon_cerumenI_S">
                                            <label class="form-check-label" for="tapon_cerumenI_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="tapon_cerumenI" value="NO" id="tapon_cerumenI_N"
                                                checked>
                                            <label class="form-check-label" for="tapon_cerumenI_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Otros</span></td>
                                    <td class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="otrosI" value="SI" id="otrosI_S">
                                            <label class="form-check-label" for="otrosI_S">SI</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="otrosI" value="NO" id="otrosI_N"
                                                checked>
                                            <label class="form-check-label" for="otrosI_N">NO</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="input-group input-group-sm">
                            <span class="control-label input-group-text" for="">Logoaudiometría</span>
                            <div class="form-check-inline">
                                <span class="control-label input-group-text" for="">O.Derecho</span>
                                <div class=" border-top border-bottom pt-1">
                                    <label for="logoaudiometria_oido_derS" class="pr-1 m-1">APLICA</label>
                                    <input type="radio" class="form-check-input m-2" id="logoaudiometria_oido_derS"
                                        name="logoaudiometria_oido_der" value="S"
                                        style="margin-left: 0px !important;">
                                </div>
                                <div class="ps-2 border-top border-bottom pt-1 pr-1">
                                    <label for="logoaudiometria_oido_derN" class="pr-1 m-1">NO APLICA</label>
                                    <input type="radio" class="form-check-input m-2" id="logoaudiometria_oido_derN"
                                        value="N" name="logoaudiometria_oido_der"
                                        style="margin-left: 0px !important;" checked>
                                </div>
                                <label class="control-label input-group-text" for="">O.Izquierdo</label>
                                <div class="border-top border-bottom pt-1">
                                    <label for="logoaudiometria_oido_izqS" class=" pr-1 m-1">APLICA</label>
                                    <input type="radio" class="form-check-input m-2" id="logoaudiometria_oido_izqS"
                                        name="logoaudiometria_oido_izq" value="S"
                                        style="margin-left: 0px !important;">
                                </div>
                                <div class="ps-2 border-top border-bottom border-right pt-1">
                                    <label for="logoaudiometria_oido_izqN" class="pr-1 m-1">NO APLICA</label>
                                    <input type="radio" class="form-check-input m-2" id="logoaudiometria_oido_izqN"
                                        value="N" name="logoaudiometria_oido_izq"
                                        style="margin-left: 0px !important;" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <table
                            class="align-middle records_list table table-sm table-bordered letra animate__animated animate__fadeIn"
                            id="val_oido_derecho">
                            <thead>
                                <tr>
                                    <th colspan="10" rowspan="1">OÍDO DERECHO</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>125</th>
                                    <th>250</th>
                                    <th>500</th>
                                    <th>1000</th>
                                    <th>2000</th>
                                    <th>3000</th>
                                    <th>4000</th>
                                    <th>6000</th>
                                    <th>8000</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>V.A.</span></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_d_125"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_d_250"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_d_500"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_d_1000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_d_2000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_d_3000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_d_4000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_d_6000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_d_8000"></td>
                                </tr>
                                <tr>
                                    <td><span>V.O.</span></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_d_125"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_d_250"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_d_500"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_d_1000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_d_2000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_d_3000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_d_4000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_d_6000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_d_8000"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table
                            class="align-middle records_list table table-sm table-bordered letra animate__animated animate__fadeIn"
                            id="val_oido_izquierdo">
                            <thead>
                                <tr>
                                    <th colspan="10" rowspan="1">OÍDO IZQUIERDO</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>125</th>
                                    <th>250</th>
                                    <th>500</th>
                                    <th>1000</th>
                                    <th>2000</th>
                                    <th>3000</th>
                                    <th>4000</th>
                                    <th>6000</th>
                                    <th>8000</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>V.A.</span></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_i_125"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_i_250"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_i_500"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_i_1000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_i_2000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_i_3000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_i_4000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_i_6000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="va_i_8000"></td>
                                </tr>
                                <tr>
                                    <td><span>V.O.</span></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_i_125"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_i_250"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_i_500"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_i_1000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_i_2000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_i_3000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_i_4000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_i_6000"></td>
                                    <td><input type="text" class="form-control form-control-sm" id="vo_i_8000"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <canvas id="graf_OD"></canvas>
                    </div>
                    <div class="col-md-6">
                        <canvas id="graf_OI"></canvas>
                    </div>
                </div>
                {{> cie10 }}
                {{> recomendaciones }}
                {{> documentoadicionales }}


            </div>
        </div>
    </div>

    <script  src="/js/historiaclinica/examenes/pbaudiometria.js"></script>