<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Cuestionario Espirometría</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Cuestionario de espirometría
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>
        </div>
        <div class="card-body " style="max-height: 70vh; overflow-y: auto; ">
            <input type="text" id="nuncom" style="display: none;" value="0">
            <input type="text" id="codpru_id" style="display: none;" value="4">
            <input type="text" id="soexa" style="display: none;" value="004">
            <div id="formPreguntas">
                <div class="row">
                    <h5 class="tituloverde mb-3">PREGUNTAS PARA TODOS LOS CANDIDATOS A ESPIROMETRÍA (RELACIONADAS A
                        CRITERIOS DE
                        EXCLUSIÓN)
                    </h5>
                    <div class="col-md-8 ms-1">
                        <p>1. ¿Tuvo desprendimiento de la retina o una operación (cirugía) de los ojos, tórax o abdomen,
                            en
                            los últimos 3 meses?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre1" id="ce_pre1S" value="SI">
                            <label class="form-check-label" for="ce_pre1S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre1" id="ce_pre1N" value="NO" checked
                                checked>
                            <label class="form-check-label" for="ce_pre1N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>2. ¿Ha tenido algún ataque cardíaco o infarto al corazón en los últimos 3 meses?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input" type="radio" name="ce_pre2" id="ce_pre2S" value="SI">
                            <label class="form-check-label" for="ce_pre2S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre2" id="ce_pre2N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre2N" checked>No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>3. ¿Ha estado hospitalizado(a) por cualquier otro problema del corazón en los últimos 3
                            meses?
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre3" id="ce_pre3S" value="SI">
                            <label class="form-check-label" for="ce_pre3S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre3" id="ce_pre3N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre3N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>4. ¿Está usando medicamentos para la tuberculosis, en este momento?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre4" id="ce_pre4S" value="SI">
                            <label class="form-check-label" for="ce_pre4S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre4" id="ce_pre4N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre4N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>5. En caso de ser mujer, ¿Está usted embarazada actualmente?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre5" id="ce_pre5S" value="SI">
                            <label class="form-check-label" for="ce_pre5S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre5" id="ce_pre5N" value="NO">
                            <label class="form-check-label" for="ce_pre5N">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre5" id="ce_pre5NA" value="NA"
                                checked>
                            <label class="form-check-label" for="ce_pre5NA">No aplica</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h5 class="tituloverde mb-3">PARA SER LLENADO POR EL PROFESIONAL QUE REALIZA LA PRUEBA
                    </h5>
                    <div class="col-md-8 ms-1">
                        <p>6. HEMOPTISIS</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre6" id="ce_pre6S" value="SI">
                            <label class="form-check-label" for="ce_pre6S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre6" id="ce_pre6N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre6N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>7. PNEUMOTORAX</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre7" id="ce_pre7S" value="SI">
                            <label class="form-check-label" for="ce_pre7S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre7" id="ce_pre7N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre7N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>8. TRAQUEOSTOMÍA
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre8" id="ce_pre8S" value="SI">
                            <label class="form-check-label" for="ce_pre8S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre8" id="ce_pre8N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre8N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>9. SONDA PLEURAL</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre9" id="ce_pre9S" value="SI">
                            <label class="form-check-label" for="ce_pre9S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre9" id="ce_pre9N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre9N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>10. ANEURISMAS CEREBRAL, ABDOMEN, TORAX</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10S" value="SI">
                            <label class="form-check-label" for="ce_pre10S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre10N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>11. EMBOLA PULMONAR</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre11" id="ce_pre11S" value="SI">
                            <label class="form-check-label" for="ce_pre11S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre11" id="ce_pre11N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre11N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>12. INFARTO RECIENTE</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre12" id="ce_pre12S" value="SI">
                            <label class="form-check-label" for="ce_pre12S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre12" id="ce_pre12N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre12N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>13. INESTABILIDAD CV</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre13" id="ce_pre13S" value="SI">
                            <label class="form-check-label" for="ce_pre13S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre13" id="ce_pre13N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre13N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>14. FIEBRE, NAUSEA, VOMITO</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre14" id="ce_pre14S" value="SI">
                            <label class="form-check-label" for="ce_pre14S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre14" id="ce_pre14N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre14N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>15. EMBARAZO AVANZADO</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre15" id="ce_pre15S" value="SI">
                            <label class="form-check-label" for="ce_pre15S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre15" id="ce_pre15N" value="NO">
                            <label class="form-check-label" for="ce_pre15N">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre15" id="ce_pre15NA" value="NA"
                                checked>
                            <label class="form-check-label" for="ce_pre15NA">No aplica</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>16. EMBARAZO COMPLICADO</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre16" id="ce_pre16S" value="SI">
                            <label class="form-check-label" for="ce_pre16S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre16" id="ce_pre16N" value="NO">
                            <label class="form-check-label" for="ce_pre16N">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre16" id="ce_pre16NA" value="NA"
                                checked>
                            <label class="form-check-label" for="ce_pre16NA">No aplica</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h5 class="tituloverde mb-3">PREGUNTAS PARA TODOS LOS ENTREVISTADOS QUE NO TIENEN LOS CRITERIOS DE
                        EXCLUSIÓN Y QUE POR LO
                        TANTO DEBEN HACER LA ESPIROMETRÍA</h5>
                    <div class="col-md-8 ms-1">
                        <p>1.¿Tuvo una infección respiratoria (resfriado), en las ultimas 3
                            semanas?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre17" id="ce_pre17S" value="SI">
                            <label class="form-check-label" for="ce_pre17S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre17" id="ce_pre17N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre17N">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>2. ¿Tuvo Infección en el oido en las ultimas 3 semanas?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre18" id="ce_pre18S" value="SI">
                            <label class="form-check-label" for="ce_pre18S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre18" id="ce_pre18N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre18N">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>3. ¿Uso aerosoles (sprays inhalados) o nebulizaciones con
                            broncodilatadores, en las útimas 3 horas?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre19" id="ce_pre19S" value="SI">
                            <label class="form-check-label" for="ce_pre19S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre19" id="ce_pre19N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre19N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>4. ¿Ha usado algún medicamento broncodilatador toma en las últimas 8
                            horas?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre20" id="ce_pre20S" value="SI">
                            <label class="form-check-label" for="ce_pre20S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre20" id="ce_pre20N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre20N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>5. ¿Fumó (cualquier tipo de cigarro), en las útimas dos horas?, si la
                            respuesta es si. Cuántos?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre21" id="ce_pre21S" value="SI">
                            <label class="form-check-label" for="ce_pre21S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre21" id="ce_pre21N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre21N">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-control form-control-sm" type="text" id="ce_pre21_rpta" maxlength="20" >                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>6. ¿Realizó algún ejercio fisico tuerte (como gimnasia, caminata o
                            trotar), en la útima hora?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre22" id="ce_pre22S" value="SI">
                            <label class="form-check-label" for="ce_pre22S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre22" id="ce_pre22N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre22N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>7. ¿Comio en la ultima hora?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre23" id="ce_pre23S" value="SI">
                            <label class="form-check-label" for="ce_pre23S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre23" id="ce_pre23N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre23N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>8. ¿Ha sufrido de Tuberculosis? ¿Completo el Tratamiento?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre24" id="ce_pre24S" value="SI">
                            <label class="form-check-label" for="ce_pre24S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre24" id="ce_pre24N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre24N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>9. Si es fumador. ¿Ha fumado (cualquier tipo de cigarro), en las
                            últimas dos horas?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre25" id="ce_pre25S" value="SI">
                            <label class="form-check-label" for="ce_pre25S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre25" id="ce_pre25N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre25N">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ms-1">
                        <p>10. ¿Sufre de asma?</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre26" id="ce_pre26S" value="SI">
                            <label class="form-check-label" for="ce_pre26S">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre26" id="ce_pre26N" value="NO"
                                checked>
                            <label class="form-check-label" for="ce_pre26N">No</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h5 class="tituloverde mb-3">Nota de personal</h5>
                    <div class="col-md-3 ms-1">
                        <p>Persona colabora con la prueba</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre27" id="ce_pre27S" value="SI"
                                checked>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 ms-1">
                        <p>No colabora</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre27" id="ce_pre27N" value="NO">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 ms-1">
                        <p>Colabora de forma poco adecuada</p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ce_pre27" id="ce_pre27NA" value="NA">
                        </div>
                    </div>
                </div>
            </div>


            {{> cie10 }}
            {{> recomendaciones }}
            {{> documentoadicionales }}
        </div>
    </div>
</div>

<script src="/js/historiaclinica/examenes/pbcuestionarioespiromeria.js"></script>