<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Cuestionario Espirometría</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Cuestionario de espirometría
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>
        </div>
        <div class="card-body" style="max-height: 70vh; overflow-y: auto; ">
            <input type="text" id="nuncom" style="display: none;" value="0">
            <input type="text" id="codpru_id" style="display: none;" value="4">

            <div class="row">
                <h5 class="tituloverde mb-3">PREGUNTAS PARA TODOS LOS CANDIDATOS A ESPIROMETRÍA (RELACIONADAS A CRITERIOS DE
                    EXCLUSIÓN)
                </h5>
                <div class="col-md-8 ms-1">
                    <p>1. ¿Tuvo desprendimiento de la retina o una operación (cirugía) de los ojos, tórax o abdomen, en
                        los últimos 3 meses?</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre1" id="ce_pre1S" value="S">
                        <label class="form-check-label" for="ce_pre1S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre1" id="ce_pre1N" value="N">
                        <label class="form-check-label" for="ce_pre1N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre1" id="ce_pre1NA" value="NA" disabled>
                        <label class="form-check-label" for="ce_pre1NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>2. ¿Ha tenido algún ataque cardíaco o infarto al corazón en los últimos 3 meses?</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="radio" name="ce_pre2" id="ce_pre2S" value="S">
                        <label class="form-check-label" for="ce_pre2S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre2" id="ce_pre2N" value="N">
                        <label class="form-check-label" for="ce_pre2N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre2" id="ce_pre2NA" value="NA" disabled>
                        <label class="form-check-label" for="ce_pre2NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>3. ¿Ha estado hospitalizado(a) por cualquier otro problema del corazón en los últimos 3 meses?
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre3" id="ce_pre3S" value="S">
                        <label class="form-check-label" for="ce_pre3S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre3" id="ce_pre3N" value="N">
                        <label class="form-check-label" for="ce_pre3N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre3" id="ce_pre3NA" value="NA" disabled>
                        <label class="form-check-label" for="ce_pre3NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>4. ¿Está usando medicamentos para la tuberculosis, en este momento?</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre4" id="ce_pre4S" value="S">
                        <label class="form-check-label" for="ce_pre4S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre4" id="ce_pre4N" value="N">
                        <label class="form-check-label" for="ce_pre4N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre4" id="ce_pre4NA" value="NA" disabled>
                        <label class="form-check-label" for="ce_pre4NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>5. En caso de ser mujer, ¿Está usted embarazada actualmente?</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre5" id="ce_pre5S" value="S">
                        <label class="form-check-label" for="ce_pre5S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre5" id="ce_pre5N" value="N">
                        <label class="form-check-label" for="ce_pre5N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre5" id="ce_pre5NA" value="NA">
                        <label class="form-check-label" for="ce_pre5NA">No aplica</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <h5 class="tituloverde mb-3">PARA SER LLENADO POR EL PROFESIONAL QUE REALIZA LA PRUEBA
                </h5>
                <div class="col-md-8 ms-1">
                    <p>6. HEMOPTISIS</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre6" id="ce_pre6S" value="S">
                        <label class="form-check-label" for="ce_pre6S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre6" id="ce_pre6N" value="N">
                        <label class="form-check-label" for="ce_pre6N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre6" id="ce_pre6NA" value="NA" disabled>
                        <label class="form-check-label" for="ce_pre6NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>7. PNEUMOTORAX</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre7" id="ce_pre7S" value="S">
                        <label class="form-check-label" for="ce_pre7S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre7" id="ce_pre7N" value="N">
                        <label class="form-check-label" for="ce_pre7N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre7" id="ce_pre7NA" value="NA" disabled>
                        <label class="form-check-label" for="ce_pre7NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>8. TRAQUEOSTOMÍA
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre8" id="ce_pre8S" value="S">
                        <label class="form-check-label" for="ce_pre8S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre8" id="ce_pre8N" value="N">
                        <label class="form-check-label" for="ce_pre8N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre8" id="ce_pre8NA" value="NA" disabled>
                        <label class="form-check-label" for="ce_pre8NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>9. SONDA PLEURAL</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre9" id="ce_pre9S" value="S">
                        <label class="form-check-label" for="ce_pre9S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre9" id="ce_pre9N" value="N">
                        <label class="form-check-label" for="ce_pre9N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre9" id="ce_pre9NA" value="NA" disabled>
                        <label class="form-check-label" for="ce_pre9NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>10. ANEURISMAS CEREBRAL, ABDOMEN, TORAX</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10S" value="S">
                        <label class="form-check-label" for="ce_pre10S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10N" value="N">
                        <label class="form-check-label" for="ce_pre10N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10NA" value="NA"
                            disabled>
                        <label class="form-check-label" for="ce_pre10NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>11. EMBOLA PULMONAR</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10S" value="S">
                        <label class="form-check-label" for="ce_pre10S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10N" value="N">
                        <label class="form-check-label" for="ce_pre10N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10NA" value="NA"
                            disabled>
                        <label class="form-check-label" for="ce_pre10NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>12. INFARTO RECIENTE</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10S" value="S">
                        <label class="form-check-label" for="ce_pre10S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10N" value="N">
                        <label class="form-check-label" for="ce_pre10N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10NA" value="NA"
                            disabled>
                        <label class="form-check-label" for="ce_pre10NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>13. INESTABILIDAD CV</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10S" value="S">
                        <label class="form-check-label" for="ce_pre10S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10N" value="N">
                        <label class="form-check-label" for="ce_pre10N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10NA" value="NA"
                            disabled>
                        <label class="form-check-label" for="ce_pre10NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>14. FIEBRE, NAUSEA, VOMITO</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10S" value="S">
                        <label class="form-check-label" for="ce_pre10S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10N" value="N">
                        <label class="form-check-label" for="ce_pre10N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10NA" value="NA"
                            disabled>
                        <label class="form-check-label" for="ce_pre10NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>15. EMBARAZO AVANZADO</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10S" value="S">
                        <label class="form-check-label" for="ce_pre10S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10N" value="N">
                        <label class="form-check-label" for="ce_pre10N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre10NA" value="NA"
                            disabled>
                        <label class="form-check-label" for="ce_pre10NA">No aplica</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ms-1">
                    <p>16. EMBARAZO COMPLICADO</p>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre16S" value="S">
                        <label class="form-check-label" for="ce_pre10S">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre16N" value="N">
                        <label class="form-check-label" for="ce_pre10N">No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="ce_pre10" id="ce_pre16NA" value="NA"
                            disabled>
                        <label class="form-check-label" for="ce_pre10NA">No aplica</label>
                    </div>
                </div>
            </div>



            <div class="tituloverde pt-4 pt-2">
                <h5>PREGUNTAS PARA TODOS LOS ENTREVISTADOS QUE NO TIENEN LOS CRITERIOS DE EXCLUSIÓN Y QUE POR LO
                    TANTO DEBEN HACER LA ESPIROMETRÍA
                </h5>
            </div>
            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;" for="cadcermedN">1.
                ¿Tuvo una infección respiratoria (resfriado), en las ultimas 3
                semanas?</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre17" value="S" id="ce_pre17S">
                <label for="cadcermedN">No</label>
                <input type="radio" name="ce_pre17" value="N" id="ce_pre17N" checked>
            </div><br>

            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                for="incfirmmedexaS">2. ¿Tuvo Infección en el oido en las ultimas 3 semanas?</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre18" value="S" id="ce_pre18S">
                <label for="cadcermedN">No</label>
                <input type="radio" name="ce_pre18" value="N" id="ce_pre18N" checked>
            </div><br>

            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                for="incfirmmedexaS">3. ¿Uso aerosoles (sprays inhalados) o nebulizaciones con
                broncodilatadores, en las útimas 3 horas?</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre19" value="S" id="ce_pre19S">
                <label for="cadcermedN">No</label>
                <input type="radio" name="ce_pre19" value="N" id="ce_pre19N" checked>
            </div><br>

            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                for="incfirmmedexaS">4. ¿Ha usado algún medicamento broncodilatador toma en las últimas 8
                horas?</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre20" value="S" id="ce_pre20S">
                <label for="cadcermedN">No</label>
                <input type="radio" name="ce_pre20" value="N" id="ce_pre20N" checked>
            </div><br>

            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                for="incfirmmedexaS">5. ¿Fumó (cualquier tipo de cigarro), en las útimas dos horas?, si la
                respuesta es si. Cuántos?</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre21" value="S" id="ce_pre21S">
                <label for="cadcermedN">No</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre21" value="N" id="ce_pre21N" checked>

            </div><br>

            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                for="incfirmmedexaS">6. ¿Realizó algún ejercio fisico tuerte (como gimnasia, caminata o
                trotar), en la útima hora?</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre22" value="S" id="ce_pre22S">
                <label for="cadcermedN">No</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre22" value="N" id="ce_pre22N" checked>

            </div><br>

            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                for="incfirmmedexaS">7. ¿Comio en la ultima hora?</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre23" value="S" id="ce_pre23S">
                <label for="cadcermedN">No</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre23" value="N" id="ce_pre23N" checked>

            </div><br>

            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                for="incfirmmedexaS">8. ¿Ha sufrido de Tuberculosis? ¿Completo el Tratamiento?</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre24" value="S" id="ce_pre24S">
                <label for="cadcermedN">No</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre24" value="N" id="ce_pre24N" checked>

            </div><br>

            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                for="incfirmmedexaS">9. Si es fumador. ¿Ha fumado (cualquier tipo de cigarro), en las
                últimas dos horas?</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre25" value="S" id="ce_pre25S">
                <label for="cadcermedN">No</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre25" value="N" id="ce_pre25N" checked>

            </div><br>

            <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                for="incfirmmedexaS">10. ¿Sufre de asma? Indicar último cpisodio</label>
            <div style="display: inline-block; text-align: right;">
                <label for="cadcermedS">Sí</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre26" value="S" id="ce_pre26S">
                <label for="cadcermedN">No</label>
                <input style="margin-right: 5em;" type="radio" name="ce_pre26" value="N" id="ce_pre26N" checked>
            </div><br>
            <div class="pr-4 pt-2">
                <div class="tituloverde">
                    <h6>Nota de personal</h6>
                </div>

                <label style="margin-right: 5em; text-align: left; width: 20em;" for="colaboraSi">Persona
                    colabora con la prueba</label>
                <div style="display: inline-block; text-align: right;">
                    <input style="margin-right: 5em;" type="radio" name="ce_pre27" value="S" id="ce_pre27S">
                </div><br>

                <label style="margin-right: 5em; text-align: left; width: 20em;" for="colaboraNo">No
                    colabora</label>
                <div style="display: inline-block; text-align: right;">
                    <input style="margin-right: 5em;" type="radio" name="ce_pre27" value="S" id="ce_preN">
                </div><br>

                <label style="margin-right: 5em; text-align: left; width: 20em;" for="colaboraPoco">Colabora de
                    forma poco adecuada</label>
                <div style="display: inline-block; text-align: right;">
                    <input style="margin-right: 5em;" type="radio" name="ce_pre27" value="NA" id="ce_preNA">
                </div><br>
            </div>



            {{> cie10 }}
            {{> recomendaciones }}
            {{> documentoadicionales }}
        </div>
    </div>
</div>

<script src="/js/historiaclinica/examenes/pbcuestionarioespiromeria.js"></script>