<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"
    integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Espirometría</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Formulario de espirometría
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>

        </div>
        <div class="card-body " style="max-height: 70vh; overflow-y: auto; ">
            <input type="text" id="nuncom" style="display: none;" value="0">
            <input type="text" id="codpru_id" style="display: none;" value="5">
            <div class="row mt-2">



                <div class="table-responsive" id="tablaparametros">
                    <table
                        class="records_list table table-sm table-bordered table-hover letra animate_animated animate_fadeIn"
                        id="tableparametros">
                        <thead class="sticky-top">
                            <tr>
                                <th scope="col">PARÁMETROS</th>
                                <th scope="col">UNIDAD</th>
                                <th scope="col" style="width: 14% !important;">TEÓRICO</th>
                                <th scope="col" style="width: 14% !important;">PRE</th>
                                <th scope="col" style="width: 14% !important;">TEÓRICO %</th>
                                <th scope="col" style="width: 14% !important;">PRE #1</th>
                                <th scope="col" style="width: 14% !important;">PRE #2</th>
                                <th scope="col" style="width: 14% !important;">PRE #3</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyparametros">
                        </tbody>
                        <tfoot style="border-top: none;">
                            <tr>
                                <th colspan="8">
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="input-group input-group-sm">
                                                        <label class="control-label input-group-text"
                                                            for="std_fuma">FUMADOR</label>
                                                        <select id="std_fuma" class="form-control form-control-sm">
                                                            <option value="SI">SI</option>
                                                            <option value="NO" selected>NO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="input-group input-group-sm">
                                                        <label class="control-label input-group-text"
                                                            for="Calidad">CALIDAD</label>
                                                        <select id="Calidad" class="form-control form-control-sm">
                                                            <option value="A" selected>A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                            <option value="E">E</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm">
                                                        <label class="control-label input-group-text"
                                                            for="tipo">TIPO</label>
                                                        <select id="tipo" class="form-control form-control-sm">
                                                            <option value="NORMAL" selected>NORMAL</option>
                                                            <option value="SÍNDROME RESTRICTIVO">SÍNDROME RESTRICTIVO</option>
                                                            <option value="SÍNDROME OBSTRUCTIVO">SÍNDROME OBSTRUCTIVO</option>                                                            
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" id="conclusionDiv">
                                                    <div class="input-group input-group-sm">
                                                        <label class="control-label input-group-text"
                                                            for="conclusion">CONCLUSIONES</label>
                                                        <select id="conclusion" class="form-control form-control-sm">
                                                            <option value="LEVE" selected>LEVE</option>
                                                            <option value="MODERADO">MODERADO</option>
                                                            <option value="MODERADAMENTE_GRAVE">MODERADAMENTE GRAVE
                                                            </option>
                                                            <option value="GRAVE">GRAVE</option>
                                                            <option value="MUY_GRAVE">MUY GRAVE</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="text-center" id="cargaparametros" style="display: none;">
                        <div class="d-flex justify-content-center align-items-center" style="min-height: 5vh;">
                            <lottie-player src="/img/jsonimg/Cargahealth.json" background="transparent" speed="1"
                                style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                        </div>
                    </div>
                </div>
            </div>

            {{> cie10 }}
            {{> recomendaciones }}
            {{> documentoadicionales }}


        </div>
    </div>
</div>

<script src="/js/historiaclinica/examenes/pbespirometria.js"></script>