<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Ficha Músculo Esquelética</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Formulario de ficha músculo esquelética
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>
        </div>
        <div class="card-body cardbody">
            <input type="text" id="nuncom" style="display: none;" value="0">
            <input type="text" id="codpru_id" style="display: none;" value="34">
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class="input-group-text" for="aptitud_espalda">Aptitud de Espalda</label>
                    <input type="text" class="form-control form-control-sm" value="" id="aptitud_espalda"
                        oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '');" placeholder="Ingrese el valor"
                        required>
                    <label class="input-group-text" for="aptitud_espalda">
                        <i class="fa-solid fa-child"></i></label>
                </div>
            </div>
            <div class="row mt-4">
                <div class="table-responsive">
                    <style>
                        .valores {
                            border: 0px;
                            width: 20px;
                            background-color: white;
                            font-weight: bold;
                            font-size: 18px;
                        }

                        .cardbody {
                            max-height: 70vh;
                            overflow-y: auto;
                        }

                        .textareacont {
                            min-width: 300px;
                        }

                        .layout {
                            table-layout: fixed;
                        }

                        .table thead th {
                            vertical-align: middle;
                        }

                        .table td {
                            vertical-align: middle;
                        }

                        .tab1 td:nth-child(6) {
                            width: 20px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .position {
                            position: static;
                            margin-left: 0px;
                        }
                    </style>
                    <table class="text-center align-middle layout
                    records_list table table-sm table-bordered letra animate__animated animate__fadeIn"
                        style="border: revert-layer;" id="tablaFlexFuerza">
                        <thead class="align-middle sticky-top">
                            <th style="width: 120px !important;">Flexibilidad / Fuerza</th>
                            <th>Exelente</th>
                            <th>Promedio</th>
                            <th>Regular</th>
                            <th>Pobre</th>
                            <th style="width: 100px !important;">Puntos</th>
                            <th>Observaciones</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="obsAbdomen">Abdomen</label></td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abdomen_excelente.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abdomen1" class="align-middle">1
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="1" name="abdomen" id="abdomen1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abdomen_promedio.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abdomen2" class="align-middle">2
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="2" name="abdomen" id="abdomen2">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abdomen_regular.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abdomen3" class="align-middle">3
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="3" name="abdomen" id="abdomen3">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abdomen_pobre.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abdomen4" class="align-middle">4
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="4" name="abdomen" id="abdomen4">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span><strong><input type="text" id="abdomen" value="0" class="text-center valores"
                                                disabled></strong></span>
                                </td>
                                <td rowspan="1" class="h-100 textareacont">
                                    <textarea class="form-control" rows="4" placeholder="Observaciones"
                                        id="obsAbdomen"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="obsCadera">Cadera</label></td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/cadera_excelente.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="cadera1" class="align-middle">1
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="1" name="cadera" id="cadera1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/cadera_promedio.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="cadera2" class="align-middle">2
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="2" name="cadera" id="cadera2">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/cadera_regular.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="cadera3" class="align-middle">3
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="3" name="cadera" id="cadera3">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/cadera_pobre.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="cadera4" class="align-middle">4
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="4" name="cadera" id="cadera4">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span><strong><input type="text" id="cadera" value="0" class="text-center valores"
                                                disabled></strong></span>
                                </td>
                                <td rowspan="1" class="h-100 textareacont">
                                    <textarea class="form-control" rows="4" placeholder="Observaciones"
                                        id="obsCadera"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="obsMuslo">Muslo</label></td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/muslo_excelente.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="muslo1" class="align-middle">1
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="1" name="muslo" id="muslo1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/muslo_promedio.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="muslo2" class="align-middle">2
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="2" name="muslo" id="muslo2">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/muslo_regular.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="muslo3" class="align-middle">3
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="3" name="muslo" id="muslo3">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/muslo_pobre.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="muslo4" class="align-middle">4
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="4" name="muslo" id="muslo4">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span><strong><input type="text" id="muslo" value="0" class="text-center valores"
                                                disabled></strong></span>
                                </td>
                                <td rowspan="1" class="h-100 textareacont">
                                    <textarea class="form-control" rows="4" placeholder="Observaciones"
                                        id="obsMuslo"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="obsAdlateral">Abdomen Lateral</label></td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abdomen_lateral_excelente.webp" height="50px"
                                        alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="adlateral1" class="align-middle">1
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="1" name="adlateral" id="adlateral1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abdomen_lateral_promedio.webp" height="50px"
                                        alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="adlateral2" class="align-middle">2
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="2" name="adlateral" id="adlateral2">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abdomen_lateral_regular.webp" height="50px"
                                        alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="adlateral3" class="align-middle">3
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="3" name="adlateral" id="adlateral3">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abdomen_lateral_pobre.webp" height="50px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="adlateral4" class="align-middle">4
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="4" name="adlateral" id="adlateral4">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span><strong><input type="text" id="adlateral" value="0"
                                                class="text-center valores" disabled></strong></span>
                                </td>
                                <td rowspan="1" class="h-100 textareacont">
                                    <textarea class="form-control" rows="4" placeholder="Observaciones"
                                        id="obsAdlateral"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-end"><label
                                        for="totalFlexFuerza"><strong>Total</strong></label></td>
                                <td>
                                    <span><input type="text" id="totalFlexFuerza" name="totalFlexFuerza" value="0"
                                            style="border: 0px;width: 40px;" class="text-center valores"
                                            disabled></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <style>
                        th:first-child,
                        td:first-child {
                            width: 100px;
                            /* ajusta el valor según tus necesidades */
                        }
                    </style>
                    <table
                        class="table text-center align-middle records_list  table-sm table-bordered letra animate__animated animate__fadeIn"
                        id="tablaRangosArt">
                        <thead class="align-middle sticky-top">
                            <tr class="align-middle">
                                <th rowspan="2">Rangos articulares</th>
                                <th rowspan="2">Optimo</th>
                                <th rowspan="2">Limitado</th>
                                <th rowspan="2">Muy Limitado</th>
                                <th rowspan="2" colspan="1">Puntos</th>
                                <th colspan="2" style="width: 175px !important;">Dolor sobre resistencia</th>
                            </tr>
                            <tr>
                                <th style="max-width: 106px !important;"><span>SI</span></th>
                                <th style="max-width: 106px !important;"><span>NO</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="abduccionh">Abduccion de hombro (Normal 0° - 180°)</label></td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abd_homb_nor_op.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abduccionh1" class="align-middle">1
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="1" name="abduccionh" id="abduccionh1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abd_homb_nor_lim.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abduccionh2" class="align-middle">2
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="2" name="abduccionh" id="abduccionh2">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abd_homb_nor_mlim.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abduccionh3" class="align-middle">3
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="3" name="abduccionh" id="abduccionh3">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span><input type="text" id="abduccionh" value="0" style="border: 0px;"
                                            class="text-center valores" disabled></span>
                                </td>
                                <td>
                                    <label for="cmbabduccionhS">SI </label><br>
                                    <input type="radio" value="SI" class="form-check-input position"
                                        name="cmbabduccionh" id="cmbabduccionhS">
                                </td>
                                <td>
                                    <label for="cmbabduccionhN">NO </label><br>
                                    <input type="radio" value="NO" class="form-check-input position position"
                                        name="cmbabduccionh" id="cmbabduccionhN">
                                </td>
                            </tr>
                            <tr>
                                <td><label for="abduccion80h">Abduccion de hombro (0° - 80°)</label></td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abd_hom_op.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abduccion80h1" class="align-middle">1
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="1" name="abduccion80h" id="abduccion80h1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abd_homb_lim.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abduccion80h2" class="align-middle">2
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="2" name="abduccion80h" id="abduccion80h2">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/abd_homb_mlim.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="abduccion80h3" class="align-middle">3
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="3" name="abduccion80h" id="abduccion80h3">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span><input type="text" id="abduccion80h" value="0" style="border: 0px;"
                                            class="text-center valores" disabled></span>
                                </td>
                                <td>
                                    <label for="cmbabduccion80hS">SI </label><br>
                                    <input type="radio" value="SI" class="form-check-input position"
                                        name="cmbabduccion80h" id="cmbabduccion80hS">
                                </td>
                                <td><label for="cmbabduccion80hN">NO </label><br>
                                    <input type="radio" value="NO" class="form-check-input position"
                                        name="cmbabduccion80h" id="cmbabduccion80hN">
                                </td>
                            </tr>
                            <tr>
                                <td><label for="rotacionext">Rotacion externa (0° - 90°)</label></td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/rot_ext_op.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="rotacionext1" class="align-middle">1
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="1" name="rotacionext" id="rotacionext1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/rot_ext_lim.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="rotacionext2" class="align-middle">2
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="2" name="rotacionext" id="rotacionext2">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/rot_ext_mlim.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="rotacionext3" class="align-middle">3
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="3" name="rotacionext" id="rotacionext3">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span><input type="text" id="rotacionext" value="0" style="border: 0px;"
                                            class="text-center valores" disabled></span>
                                </td>
                                <td>
                                    <label for="cmbrotacionextS">SI </label><br>
                                    <input type="radio" value="SI" class="form-check-input position"
                                        name="cmbrotacionext" id="cmbrotacionextS">
                                </td>
                                <td><label for="cmbrotacionextN">NO </label><br>
                                    <input type="radio" value="NO" class="form-check-input position"
                                        name="cmbrotacionext" id="cmbrotacionextN">
                                </td>
                            </tr>
                            <tr>
                                <td><label for="rotacionint">Rotacion interna de hombro</label></td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/rot_ext_homb_op.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="rotacionint1" class="align-middle">1
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="1" name="rotacionint" id="rotacionint1">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/rot_ext_homb_lim.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="rotacionint2" class="align-middle">2
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="2" name="rotacionint" id="rotacionint2">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img src="/img/ficha/fisioterapia/rot_ext_homb_mlim.webp" height="70px" alt="">
                                    <hr>
                                    <div class="form-check form-switch">
                                        <label for="rotacionint3" class="align-middle">3
                                            <input type="radio" class="form-check-input position" role="switch"
                                                value="3" name="rotacionint" id="rotacionint3">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span><input type="text" id="rotacionint" value="0" style="border: 0px;"
                                            class="text-center valores" disabled></span>
                                </td>
                                <td>
                                    <label for="cmbrotacionintS">SI </label><br>
                                    <input type="radio" value="SI" class="form-check-input position"
                                        name="cmbrotacionint" id="cmbrotacionintS">
                                </td>
                                <td><label for="cmbrotacionintN">NO </label><br>
                                    <input type="radio" value="NO" class="form-check-input position"
                                        name="cmbrotacionint" id="cmbrotacionintN">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-end"><label for="totalRangosArt">Total</label></td>
                                <td colspan="1">
                                    <span><input type="text" id="totalRangosArt" name="totalRangosArt" value="0"
                                            style="border: 0px;" class="text-center valores" disabled></span>
                                </td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {{> cie10 }}
            {{> recomendaciones }}
            {{> documentoadicionales }}
        </div>
    </div>
</div>

<script src="/js/historiaclinica/examenes/pbfichamusculoesqueletica.js"></script>