<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Ficha Musculo Esqueletica</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Formulario de ficha músculo esquelética
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>

        </div>
        <div class="card-body ">
            <input type="text" id="nuncom" style="display: none;" value="0">
            <input type="text" id="codpru_id" style="display: none;" value="34">
            <div class="row mt-2">
                <div class="table-responsive">
                    <style>                        
                        .textareacont {
                            min-width: 300px;
                        }
                    </style>
                    <table class="table text-center align-middle h-100" id="tab1">
                        <thead class="align-middle">
                            <th>Flexibilidad / Fuerza</th>
                            <th>Exelente</th>
                            <th>Promedio</th>
                            <th>Regular</th>
                            <th>Pobre</th>
                            <th>Puntos</th>
                            <th>Observaciones</th>
                        </thead>
                        <tbody>
                            <div style="display: none;">
                                <tr>
                                    <td>Abdomen</td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/abdomen_excelente.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomen1" class="align-middle">1
                                                <input type="radio" class="form-check-input" role="switch" value="1"
                                                    name="abdomen" id="abdomen1" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/abdomen_promedio.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomen2" class="align-middle">2
                                                <input type="radio" class="form-check-input" role="switch" value="2"
                                                    name="abdomen" id="abdomen2" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/abdomen_regular.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomen3" class="align-middle">3
                                                <input type="radio" class="form-check-input" role="switch" value="3"
                                                    name="abdomen" id="abdomen3" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/abdomen_pobre.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomen4" class="align-middle">4
                                                <input type="radio" class="form-check-input" role="switch" value="4"
                                                    name="abdomen" id="abdomen4" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span><input type="text" id="lbl_abdomen1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                    <td rowspan="1" class="h-100 textareacont">
                                        <div class="form-floating h-100 w-100">
                                            <textarea class="form-control h-100 w-100"
                                                placeholder="Leave a comment here" id="obsTextAreaaAb"></textarea>
                                            <label for="obsTextAreaaAb">Observaciones</label>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>Cadera</td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/cadera_excelente.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="cadera1" class="align-middle">1
                                                <input type="radio" class="form-check-input" role="switch" value="1"
                                                    name="cadera" id="cadera1" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/cadera_promedio.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="cadera2" class="align-middle">2
                                                <input type="radio" class="form-check-input" role="switch" value="2"
                                                    name="cadera" id="cadera2" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/cadera_regular.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="cadera3" class="align-middle">3
                                                <input type="radio" class="form-check-input" role="switch" value="3"
                                                    name="cadera" id="cadera3" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/cadera_pobre.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="cadera4" class="align-middle">4
                                                <input type="radio" class="form-check-input" role="switch" value="4"
                                                    name="cadera" id="cadera4" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span><input type="text" id="lbl_cadera1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                    <td rowspan="1" class="h-100 textareacont">
                                        <div class="form-floating h-100 w-100">
                                            <textarea class="form-control h-100 w-100"
                                                placeholder="Leave a comment here" id="obsTextAreaCa"></textarea>
                                            <label for="obsTextAreaCa">Observaciones</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Muslo</td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/muslo_excelente.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="muslo1" class="align-middle">1
                                                <input type="radio" class="form-check-input" role="switch" value="1"
                                                    name="muslo" id="muslo1" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/muslo_promedio.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="muslo2" class="align-middle">2
                                                <input type="radio" class="form-check-input" role="switch" value="2"
                                                    name="muslo" id="muslo2" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/muslo_regular.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="muslo3" class="align-middle">3
                                                <input type="radio" class="form-check-input" role="switch" value="3"
                                                    name="muslo" id="muslo3" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/muslo_pobre.webp" height="50px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="muslo4" class="align-middle">4
                                                <input type="radio" class="form-check-input" role="switch" value="4"
                                                    name="muslo" id="muslo4" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span><input type="text" id="lbl_muslo1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                    <td rowspan="1" class="h-100 textareacont">
                                        <div class="form-floating h-100 w-100">
                                            <textarea class="form-control h-100 w-100"
                                                placeholder="Leave a comment here" id="obsTextAreaMu"></textarea>
                                            <label for="obsTextAreaMu">Observaciones</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Abdomen Lateral</td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/abdomen_lateral_excelente.webp" height="50px"
                                            alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomenlat1" class="align-middle">1
                                                <input type="radio" class="form-check-input" role="switch" value="1"
                                                    name="abdomenlat" id="abdomenlat1" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/abdomen_lateral_promedio.webp" height="50px"
                                            alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomenlat2" class="align-middle">2
                                                <input type="radio" class="form-check-input" role="switch" value="2"
                                                    name="abdomenlat" id="abdomenlat2" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/abdomen_lateral_regular.webp" height="50px"
                                            alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomenlat3" class="align-middle">3
                                                <input type="radio" class="form-check-input" role="switch" value="3"
                                                    name="abdomenlat" id="abdomenlat3" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/img/ficha/fisioterapia/abdomen_lateral_pobre.webp" height="50px"
                                            alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomenlat4" class="align-middle">4
                                                <input type="radio" class="form-check-input" role="switch" value="4"
                                                    name="abdomenlat" id="abdomenlat4" style="position: static;">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span><input type="text" id="lbl_ablat1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                    <td rowspan="1" class="h-100 textareacont">
                                        <div class="form-floating h-100 w-100">
                                            <textarea class="form-control h-100 w-100"
                                                placeholder="Leave a comment here" id="obsTextAreaAl"></textarea>
                                            <label for="obsTextAreaAl">Observaciones</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">Total</td>
                                    <td>
                                        <span><input type="text" id="total" name="total1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
                <!--<div class="col-md-12 input-group input-group-sm">
                    <label class="col-sm-2 input-group-text" for="inpfc">FC</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpfc"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inpfc">ipm</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpfc"><i
                            class="fa-solid fa-heart-pulse"></i></label>
                </div>-->
            </div>


            {{> cie10 }}
            {{> recomendaciones }}
            {{> documentoadicionales }}
        </div>
    </div>
</div>

<script src="/js/historiaclinica/examenes/pbfichamusculoesqueletica.js"></script>