<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Signos Vitales</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Formulario de signos vitales
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>

        </div>
        <div class="card-body ">
            <div class="row mt-2">
                <div class="table-responsive">
                    <table class="table text-center align-middle h-100" id="tab1">
                        <thead class="align-middle">
                            <th>Flexibilidad / Fuerza</th>
                            <th>Exelente</th>
                            <th>Promedio</th>
                            <th>Regular</th>
                            <th>Pobre</th>
                            <th>Puntos</th>
                            <th>Observaciones</th>
                        </thead>
                        <tbody>
                            <div style="display: none;">
                                <tr>
                                    <td>Abdomen</td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/abdomen_excelente.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomen1" class="align-middle">1
                                                <input type="radio" class="form-check-input" role="switch" value="1"
                                                    name="abdomen" id="abdomen1">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/abdomen_promedio.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomen2" class="align-middle">2
                                                <input type="radio" class="form-check-input" role="switch" value="2"
                                                    name="abdomen" id="abdomen2">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/abdomen_regular.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomen3" class="align-middle">3
                                                <input type="radio" class="form-check-input" role="switch" value="3"
                                                    name="abdomen" id="abdomen3">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/abdomen_pobre.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomen4" class="align-middle">4
                                                <input type="radio" class="form-check-input" role="switch" value="4"
                                                    name="abdomen" id="abdomen4">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span><input type="text" id="lbl_abdomen1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                    <td rowspan="1" class="h-100 textareacont">
                                        <div class="form-floating h-100 w-100">
                                            <textarea class="form-control h-100 w-100"
                                                placeholder="Leave a comment here" id="obsTextAreaaAb"></textarea>
                                            <label for="obsTextAreaaAb">Observaciones</label>
                                        </div>
                                    </td>

                                </tr>

                                <tr>
                                    <td>Cadera</td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/cadera_excelente.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="cadera1" class="align-middle">1
                                                <input type="radio" class="form-check-input" role="switch" value="1"
                                                    name="cadera" id="cadera1">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/cadera_promedio.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="cadera2" class="align-middle">2
                                                <input type="radio" class="form-check-input" role="switch" value="2"
                                                    name="cadera" id="cadera2">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/cadera_regular.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="cadera3" class="align-middle">3
                                                <input type="radio" class="form-check-input" role="switch" value="3"
                                                    name="cadera" id="cadera3">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/cadera_pobre.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="cadera4" class="align-middle">4
                                                <input type="radio" class="form-check-input" role="switch" value="4"
                                                    name="cadera" id="cadera4">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span><input type="text" id="lbl_cadera1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                    <td rowspan="1" class="h-100 textareacont">
                                        <div class="form-floating h-100 w-100">
                                            <textarea class="form-control h-100 w-100"
                                                placeholder="Leave a comment here" id="obsTextAreaCa"></textarea>
                                            <label for="obsTextAreaCa">Observaciones</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Muslo</td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/muslo_excelente.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="muslo1" class="align-middle">1
                                                <input type="radio" class="form-check-input" role="switch" value="1"
                                                    name="muslo" id="muslo1">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/muslo_promedio.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="muslo2" class="align-middle">2
                                                <input type="radio" class="form-check-input" role="switch" value="2"
                                                    name="muslo" id="muslo2">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/muslo_regular.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="muslo3" class="align-middle">3
                                                <input type="radio" class="form-check-input" role="switch" value="3"
                                                    name="muslo" id="muslo3">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/muslo_pobre.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="muslo4" class="align-middle">4
                                                <input type="radio" class="form-check-input" role="switch" value="4"
                                                    name="muslo" id="muslo4">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span><input type="text" id="lbl_muslo1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                    <td rowspan="1" class="h-100 textareacont">
                                        <div class="form-floating h-100 w-100">
                                            <textarea class="form-control h-100 w-100"
                                                placeholder="Leave a comment here" id="obsTextAreaMu"></textarea>
                                            <label for="obsTextAreaMu">Observaciones</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Abdomen Lateral</td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/abdomen_lateral_excelente.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomenlat1" class="align-middle">1
                                                <input type="radio" class="form-check-input" role="switch" value="1"
                                                    name="abdomenlat" id="abdomenlat1">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/abdomen_lateral_promedio.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomenlat2" class="align-middle">2
                                                <input type="radio" class="form-check-input" role="switch" value="2"
                                                    name="abdomenlat" id="abdomenlat2">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/abdomen_lateral_regular.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomenlat3" class="align-middle">3
                                                <input type="radio" class="form-check-input" role="switch" value="3"
                                                    name="abdomenlat" id="abdomenlat3">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="./img/ficha/fisioterapia/abdomen_lateral_pobre.webp" height="70px" alt="">
                                        <hr>
                                        <div class="form-check form-switch">
                                            <label for="abdomenlat4" class="align-middle">4
                                                <input type="radio" class="form-check-input" role="switch" value="4"
                                                    name="abdomenlat" id="abdomenlat4">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span><input type="text" id="lbl_ablat1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                    <td rowspan="1" class="h-100 textareacont">
                                        <div class="form-floating h-100 w-100">
                                            <textarea class="form-control h-100 w-100"
                                                placeholder="Leave a comment here" id="obsTextAreaAl"></textarea>
                                            <label for="obsTextAreaAl">Observaciones</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">Total</td>
                                    <td>
                                        <span><input type="text" id="total" name="total1" value="0" style="border: 0px;"
                                                class="text-center"></span>
                                    </td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
                <!--<div class="col-md-12 input-group input-group-sm">
                    <label class="col-sm-2 input-group-text" for="inpfc">FC</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpfc"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inpfc">ipm</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpfc"><i
                            class="fa-solid fa-heart-pulse"></i></label>
                </div>-->
            </div>


            {{> cie10 }}
            {{> recomendaciones }}
            {{> documentoadicionales }}
        </div>
    </div>
</div>

<script>
    function Grabar() {
        let btnGrabar = document.getElementById('btnGrabar');
        btnGrabar.disabled = true;
        btnGrabar.innerHTML = `<lottie-player src="/img/jsonimg/btnloading.json" background="transparent"
                                        speed="1" style="width: 38px; height: 35px;" loop
                                        autoplay></lottie-player>`
        let incluirIds = 'inpfc,inpfr,inppa,inpsato2,inppeso,inptalla,inpimc,inppeab,inptemp';
        let cita_id = document.getElementById('id').value;
        let fc = document.getElementById('inpfc').value;
        let fr = document.getElementById('inpfr').value;
        let pa = document.getElementById('inppa').value;
        let sato2 = document.getElementById('inpsato2').value;
        let peso = document.getElementById('inppeso').value;
        let talla = document.getElementById('inptalla').value;
        let imc = document.getElementById('inpimc').value;
        let peab = document.getElementById('inppeab').value;
        let temp = document.getElementById('inptemp').value;
        validarFormulario2(incluirIds);
        if (!cita_id || !fc || !fr || !pa || !sato2 || !peso || !talla || !imc || !peab || !temp) {
            btnGrabar.disabled = false;
            mensaje('error', 'Por favor, complete todos los campos antes de continuar.', 1500);
            btnGrabar.innerHTML = `<i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;">`
            return;
        } else {
            var table = document.getElementById('tablecie10');
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            var datains = [];
            for (var i = 0; i < rows.length; i++) {
                var input = rows[i].getElementsByTagName('input');
                if (input.length >= 3 && input[1].value.trim() !== '') {
                    var inputcodcie10 = input[1].value;
                    var inputdesccie10 = input[2].value;
                    var inputcomencie10 = input[3].value;
                    var rowData = {
                        cod: inputcodcie10,
                        desc: inputdesccie10,
                        comen: inputcomencie10
                    };
                    datains.push(rowData);
                }
            }

            var table = document.getElementById('tablerecoemndaciones');
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            var datainsrec = [];
            for (var i = 0; i < rows.length; i++) {
                var input = rows[i].getElementsByTagName('input');
                if (input.length >= 2 && input[0].value.trim() !== '' && input[1].value.trim() !== '') {
                    var inputrecomendacion = input[0].value;
                    var inputcontrol = input[1].value;
                    var rowDatarec = {
                        recomen: inputrecomendacion,
                        control: inputcontrol
                    };
                    datainsrec.push(rowDatarec);
                }
            }
            console.log(datains);
            console.log(datainsrec);
        }
    }



</script>