<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Oftalmología</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Formulario de Oftalmología
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i></button>
            </div>

        </div>
        <div class="card-body " style="max-height: 70vh; overflow-y: auto; ">
            <input type="text" id="nuncom" style="display: none;" value="0">
            <input style="display: none;" type="text" id="soexa" value="006">
            <input type="text" id="codpru_id" style="display: none;" value="6">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mt-2">
                        <table
                            class="records_list table table-sm table-bordered letra animate_animated animate_fadeIn text-start"
                            id="tablaantecedentes" style="font-size: 11px;">
                            <thead>
                                <tr>
                                    <th class="fw-bold text-start align-middle"
                                        style="background-color: #379FA6; color: white;">
                                        <span class="h6">ANTECEDENTES</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbodyantecedentes">
                                <tr>
                                    <td class="text-start"><textarea id="antecedentes"
                                            class="form-control"></textarea>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="input-group input-group-sm">
                                <span class="control-label input-group-text" for="">Usa lentes</span>
                                <div class="form-check-inline">
                                    <div class=" border-top border-bottom border-right pt-1 text-center">
                                        <label for="usa_lentesS" class="pr-1 m-1">SI</label>
                                        <input type="radio" class="form-check-input m-2" id="usa_lentesS"
                                            name="usa_lentes" value="S" style="margin-left: 0px !important;">
                                    </div>
                                    <div class="ps-2 border-top border-bottom border-right pt-1 text-center">
                                        <label for="usa_lentesN" class="pr-1 m-1">NO</label>
                                        <input type="radio" class="form-check-input m-2" id="usa_lentesN" value="N"
                                            name="usa_lentes" style="margin-left: 0px !important;" checked>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 input-group input-group-sm">
                            <label class="input-group-text" for="ultima_act">Última actualización de medida</label>
                            <input type="text" class="form-control form-control-sm" value="" id="ultima_act"
                                oninput="limitarInput(event,20);"
                                placeholder="Ingrese la última actualización de medida"
                                data-nombre="ULTIMA ACTUALIZACIÓN" required>
                            <label class="input-group-text" style="width: 35px; color: #773C8D;" for="ultima_act"><i
                                    class="fa-solid fa-gauge-high"></i></label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <table
                            class="align-middle records_list table table-sm table-bordered letra animate_animated animate_fadeIn"
                            id="agudeza_visual">
                            <thead>
                                <tr>
                                    <th class="text-center p-0 ps-1" rowspan="2">AGUDEZA VISUAL</th>
                                    <th class="text-center p-0 ps-1" colspan="2">VISIÓN DE LEJOS</th>
                                    <th class="text-center p-0 ps-1" rowspan="2">AGUJERO ESTENOPEICO</th>
                                    <th class="text-center p-0 ps-1" colspan="2">VISIÓN DE CERCA</th>
                                </tr>
                                <tr>
                                    <th class="text-center p-0 ps-1">SIN CORRECCIÓN</th>
                                    <th class="text-center p-0 ps-1">CON CORRECCIÓN</th>
                                    <th class="text-center p-0 ps-1">SIN CORRECCIÓN</th>
                                    <th class="text-center p-0 ps-1">CON CORRECCIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span>OJO DERECHO</span></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td><span>OJO IZQUIERDO</span></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-2">
                        <table
                            class="align-middle records_list table table-sm table-bordered letra animate_animated animate_fadeIn"
                            id="Refraccion">
                            <thead>
                                <tr>
                                    <th colspan="2">REFRACCIÓN</th>
                                    <th>ESFERA</th>
                                    <th>CILINDRO</th>
                                    <th>EJE</th>
                                    <th>AV</th>
                                    <th>DIP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2" style="vertical-align : middle"><span>LEJOS</span></td>
                                    <td><span>OJO DERECHO</span></td>
                                    <td><input type="text" class="form-control" id="lodesfera"></td>
                                    <td><input type="text" class="form-control" id="lodcilindro"></td>
                                    <td><input type="text" class="form-control" id="lodeje"></td>
                                    <td><input type="text" class="form-control" id="lodav"></td>
                                    <td rowspan="2"><textarea cols="15" rows="3" class="form-control" id="loddip"
                                            style="width: 100%;"></textarea></td>
                                </tr>
                                <tr>
                                    <td><label for="ojoizquierdo"><span>OJO IZQUIERDO</span></label></td>
                                    <td><input type="text" class="form-control" id="loiesfera"></td>
                                    <td><input type="text" class="form-control" id="loicilindro"></td>
                                    <td><input type="text" class="form-control" id="loieje"></td>
                                    <td><input type="text" class="form-control" id="loiav"></td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="vertical-align : middle"><span>CERCA (ADD)</span></td>
                                    <td><span>OJO DERECHO</span></td>
                                    <td><input type="text" class="form-control" id="codesfera"></td>
                                    <td><input type="text" class="form-control" id="codcilindro"></td>
                                    <td><input type="text" class="form-control" id="codeje"></td>
                                    <td><input type="text" class="form-control" id="codav"></td>
                                    <td rowspan="2"><textarea cols="15" rows="3" class="form-control" id="coddip"
                                            style="width: 100%;"></textarea></td>
                                </tr>
                                <tr>
                                    <td><span>OJO IZQUIERDO</span></td>
                                    <td><input type="text" class="form-control" id="coiesfera"></td>
                                    <td><input type="text" class="form-control" id="coicilindro"></td>
                                    <td><input type="text" class="form-control" id="coieje"></td>
                                    <td><input type="text" class="form-control" id="coiav"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="input-group input-group-sm">
                                <span class="control-label input-group-text" for="">RECONOCIMIENTO DE COLORES</span>
                                <div class="form-check-inline">
                                    <div class=" border-top border-bottom border-right pt-1 text-center">
                                        <label for="Reconoce_coloresPr" class="pr-1 m-1">PRIMARIOS</label>
                                        <input type="radio" class="form-check-input m-2" id="Reconoce_coloresPr"
                                            value="P" name="Reconoce_colores" style="margin-left: 0px !important;"
                                            checked>
                                    </div>
                                    <div class="ps-2 border-top border-bottom border-right pt-1 text-center">
                                        <label for="Reconoce_coloresSe" class="pr-1 m-1">SECUNDARIOS</label>
                                        <input type="radio" class="form-check-input m-2" id="Reconoce_coloresSe"
                                            value="S" name="Reconoce_colores" style="margin-left: 0px !important;">
                                    </div>
                                    <div class="ps-3 border-top border-bottom border-right pt-1 text-center">
                                        <label for="Reconoce_coloresTe" class="pr-1 m-1">TERCEARIOS</label>
                                        <input type="radio" class="form-check-input m-2" id="Reconoce_coloresTe"
                                            value="T" name="Reconoce_colores" style="margin-left: 0px !important;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <table
                            class="records_list table table-sm table-bordered letra animate_animated animate_fadeIn text-start"
                            id="tablahallazgos" style="font-size: 11px;">
                            <thead>
                                <tr>
                                    <th class="fw-bold text-start align-middle"
                                        style="background-color: #379FA6; color: white;">
                                        <span class="h6">HALLAZGOS</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbodyhallazgos">
                                <tr>
                                    <td class="text-start"><textarea id="hallazgos"
                                            class="form-control"></textarea>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row mt-2">
                        <table
                            class="align-middle records_list table table-sm table-bordered letra animate_animated animate_fadeIn"
                            style="width: 100%; font-size: 15px" id="tablaOftalmologiaTest">
                            <thead>
                                <tr>
                                    <th class="text-start" colspan="2">Test de oftalmología</th>
                                </tr>
                                <tr>
                                    <th>Resultado</th>
                                    <th class="w-50">Nombre del test</th>
                                </tr>
                            </thead>
                            <tbody id="tbodytest">
                            </tbody>
                            <div class="text-center" id="cargatabla" style="display: none;">
                                <div class="d-flex justify-content-center align-items-center" style="min-height: 5vh;">
                                    <lottie-player src="/img/jsonimg/Cargahealth.json" background="transparent"
                                        speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                {{> cie10 }}
                {{> recomendaciones }}
                {{> documentoadicionales }}
            </div>

        </div>
    </div>
</div>

<script src="/js/historiaclinica/examenes/pboftalmologia.js"></script>