<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Psicología</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Ficha de psicología
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>
        </div>
        <div class="card-body " style="max-height: 70vh; overflow-y: auto; ">
            <input type="text" id="nuncom" style="display: none;" value="0">
            <input type="text" id="codpru_id" style="display: none;" value="33">
            <div class="row">
                <style>
                    .largodespan {
                        width: 25%;
                    }

                    .largospan12 {
                        width: 12.5%;
                    }
                </style>
                <div class="col-md-6">
                    <div class="row">
                        <h5 class="tituloverde mb-3">OBSERVACIÓN DE CONDUCTAS</h5>

                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Prestación</span>
                            <select class="form-select" id="cod_present">
                                <option value="Adecuado" selected>Adecuado</option>
                                <option value="Inadecuado">Inadecuado</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Postura</span>
                            <select class="form-select" id="cod_postura">
                                <option value="Erguida" selected>Erguida</option>
                                <option value="Encorvada">Encorvada</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <h6 class="tituloverde ms-1">Discurso</h6>

                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Ritmo</span>
                            <select class="form-select" id="dis_ritmo">
                                <option value="Lento">Lento</option>
                                <option value="Rapido">Rapido</option>
                                <option value="Fluido" selected>Fluido</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Tono</span>
                            <select class="form-select" id="dis_tono">
                                <option value="Alto">Alto</option>
                                <option value="Moderado" selected>Moderado</option>
                                <option value="Bajo">Bajo</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Articulación</span>
                            <select class="form-select" id="dis_articulacion">
                                <option value="Con dificultad">Con dificultad</option>
                                <option value="Sin dificultad" selected>Sin dificultad</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <h6 class="tituloverde ms-1">Orientación</h6>

                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Tiempo</span>
                            <select class="form-select" id="ori_tiempo">
                                <option value="Orientado" selected>Orientado</option>
                                <option value="Desorientado">Desorientado</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Espacio</span>
                            <select class="form-select" id="ori_espacio">
                                <option value="Orientado" selected>Orientado</option>
                                <option value="Desorientado">Desorientado</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Persona</span>
                            <select class="form-select" id="ori_persona">
                                <option value="Orientado" selected>Orientado</option>
                                <option value="Desorientado">Desorientado</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <h5 class="tituloverde mb-3">PROCESOS COGNITIVOS</h5>

                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Lúcido, atento</span>
                            <input type="text" class="form-control" type="text" id="pro_cog_lucido_atento"
                                maxlength="60">
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Pensamiento</span>
                            <input type="text" class="form-control" type="text" id="pro_cog_pensamiento" maxlength="60">
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Percepción</span>
                            <input type="text" class="form-control" type="text" id="pro_cog_percepcion" maxlength="60">
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Memoria</span>
                            <select class="form-select" id="pro_cog_memoria">
                                <option value="Corto Plazo">Corto Plazo</option>
                                <option value="Mediano Plazo">Mediano Plazo</option>
                                <option value="Largo Plazo">Largo Plazo</option>
                                <option value="Corto y Largo Plazo" selected>Corto y Largo Plazo</option>
                                <option value="Mediano y Largo Plazo">Mediano y Largo Plazo</option>
                                <option value="Corto, Mediano y Largo Plazo">Corto, Mediano y Largo Plazo</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Inteligencia</span>
                            <select class="form-select" id="pro_cog_inteligencia">
                                <option value="Muy Superior">Muy Superior</option>
                                <option value="Superior">Superior</option>
                                <option value="Promedio alto">Promedio alto</option>
                                <option value="Promedio" selected>Promedio</option>
                                <option value="Promedio Bajo">Promedio Bajo</option>
                                <option value="Inferior o Bajo">Inferior o Bajo</option>
                                <option value="Deficiencia Mental">Deficiencia Mental</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Apetito</span>
                            <input type="text" class="form-control" type="text" id="pro_cog_apetito" maxlength="20">
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Sueño</span>
                            <input type="text" class="form-control" type="text" id="pro_cog_sueño" maxlength="20">
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="tituloverde mb-3">RESULTADOS DE EVALUACIÓN</h5>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Nivel Intelectual</span>
                            <input type="text" class="form-control" type="text" id="re_nivel_inte" maxlength="20">
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Coordinación Visomotriz</span>
                            <input type="text" class="form-control" type="text" id="re_coord_visomotriz" maxlength="80">
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Nivel de Memoria</span>
                            <input type="text" class="form-control" type="text" id="re_nivel_memoria" maxlength="20">
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Personalidad</span>
                            <textarea rows="1" class="form-control" id="re_personalidad"></textarea>
                        </div>
                        <div class="input-group mb-3 ms-1">
                            <span class="input-group-text largodespan">Afectividad</span>
                            <input type="text" class="form-control" type="text" id="re_afectividad" maxlength="20">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="table responsive">
                        <table class="records_list table table-sm table-bordered letra mt-3">
                            <thead>
                                <th colspan="2">NOMBRES</th>
                            </thead>
                            <tbody>
                                <tr class="text-left">
                                    <td>NO PRESENTA</td>
                                    <td>Test de Yoshitake (Fatiga)</td>
                                </tr>
                                <tr class="text-left">
                                    <td>LEVE</td>
                                    <td>Test de Epworth (Somnoloencia)</td>
                                </tr>
                                <tr style="min-height">
                                    <td colspan="2"></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="row">
                    <h5 class="tituloverde mb-3">CONCLUSIONES</h5>
                    <div class="col-md-12 ms-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text largospan12">Área Cognitiva</span>
                            <textarea rows="1" class="form-control" id="con_area_cognitiva"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text largospan12">Área Emocional</span>
                            <textarea spellcheck="true" rows="1" class="form-control"
                                id="con_area_emocional"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text largospan12">Aptitud</span>
                            <select class="form-select" id="tipresult_id">
                            </select>
                        </div>
                    </div>
                </div>
                {{> cie10 }}
                {{> recomendaciones }}
                {{> documentoadicionales }}
            </div>
        </div>
    </div>
    <script src="/js/historiaclinica/examenes/pbpsicologia.js"></script>