<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Signos Vitales</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Formulario de signos vitales
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>

        </div>
        <div class="card-body " style="max-height: 70vh; overflow-y: auto; ">
            <input type="text" id="nuncom" style="display: none;" value="0">
            <input style="display: none;" type="text" id="soexa" value="001">
            <input type="text" id="codpru_id" style="display: none;" value="1">
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class="col-sm-2 input-group-text" for="inpfc">FC</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpfc" oninput="validarNumeroDecimal(this)"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inpfc">ipm</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpfc"><i
                            class="fa-solid fa-heart-pulse"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inpfr">FR</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpfr" oninput="validarNumeroDecimal(this)"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inpfr">rpm</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpfr"><i
                            class="fa-solid fa-lungs"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inppa">PA</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inppa" oninput="validarNumeroDecimal(this)"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inppa">mmhg</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inppa"><i
                            class="fa-solid fa-stethoscope"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inpsato2">Sat O2</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpsato2" oninput="validarNumeroDecimal(this)"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inpsato2">%</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpsato2"><i
                            class="fa-solid fa-gauge-high"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class="col-sm-2 input-group-text" for="inppeso">PESO</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inppeso" oninput="validarNumeroDecimal(this);calcularIMC(this)"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inppeso">kg</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inppeso"><i
                            class="fa-solid fa-weight-hanging"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class="col-sm-2 input-group-text" for="inptalla">TALLA</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inptalla" oninput="validarNumeroDecimal(this);calcularIMC(this)"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inptalla">m</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inptalla"><i
                            class="fa-solid fa-ruler-vertical ml-1"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inpimc">IMC</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpimc" 
                        placeholder="Valor calculado" required disabled>
                    <label class="input-group-text col-sm-1" for="inpimc">kg/m2</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpimc"><i
                            class="fa-solid fa-child"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inppeab">PERIMETRO ABDOMINAL</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inppeab" oninput="validarNumeroDecimal(this)"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inppeab">cm</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inppeab"><i
                            class="fa-solid fa-ruler-horizontal"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inptemp">TEMPERATURA</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inptemp" oninput="validarNumeroDecimal(this)"
                        placeholder="Ingrese el valor" required>
                    <label class="input-group-text col-sm-1" for="inptemp">°C</label>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inptemp"><i
                            class="fa-solid fa-temperature-three-quarters ml-1"></i></label>
                </div>
            </div>

            {{> cie10 }}
            {{> recomendaciones }}
            {{> documentoadicionales }}
        </div>
    </div>
</div>

<script src="/js/historiaclinica/examenes/pbsignosvitales.js"></script>