<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Signos Vitales</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Parametros de signos vitales
            </div>

        </div>
        <div class="card-body ">
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class="col-sm-2 input-group-text" for="inpfc">FC</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpfc"
                        placeholder="Ingrese el valor" required>
                    <input type="text" class="col-sm-1 form-control form-control-sm" value="ipm" placeholder=""
                        disabled>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpfc"><i
                            class="fa-solid fa-heart-pulse"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inpfr">FR</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpfr"
                        placeholder="Ingrese el valor" required>
                    <input type="text" class="col-sm-1 form-control form-control-sm" value="rpm" placeholder=""
                        disabled>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpfr"><i
                            class="fa-solid fa-lungs"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inppa">PA</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inppa"
                        placeholder="Ingrese el valor" required>
                    <input type="text" class="col-sm-1 form-control form-control-sm" value="mmhg" placeholder=""
                        disabled>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inppa"><i
                            class="fa-solid fa-stethoscope"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inpsato2">Sat O2</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpsato2"
                        placeholder="Ingrese el valor" required>
                    <input type="text" class="col-sm-1 form-control form-control-sm" value="%" placeholder=""
                        disabled>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpsato2"><i
                            class="fa-solid fa-gauge-high"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class="col-sm-2 input-group-text" for="inppeso">PESO</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inppeso"
                        placeholder="Ingrese el valor" required>
                    <input type="text" class="col-sm-1 form-control form-control-sm" value="kg" placeholder=""
                        disabled>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inppeso"><i
                            class="fa-solid fa-weight-hanging"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class="col-sm-2 input-group-text" for="inptalla">TALLA</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inptalla"
                        placeholder="Ingrese el valor" required>
                    <input type="text" class="col-sm-1 form-control form-control-sm" value="m" placeholder=""
                        disabled>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inptalla"><i
                            class="fa-solid fa-ruler-vertical ml-1"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inpimc">IMC</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inpimc"
                        placeholder="Ingrese el valor" required>
                    <input type="text" class="col-sm-1 form-control form-control-sm" value="kg/m2" placeholder=""
                        disabled>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inpimc"><i
                            class="fa-solid fa-child"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inppeab">PERIMETRO ABDOMINAL</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inppeab"
                        placeholder="Ingrese el valor" required>
                    <input type="text" class="col-sm-1 form-control form-control-sm" value="cm" placeholder=""
                        disabled>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inppeab"><i
                            class="fa-solid fa-ruler-horizontal"></i></label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12 input-group input-group-sm">
                    <label class=" col-sm-2 input-group-text" for="inptemp">TEMPERATURA</label>
                    <input type="text" class="form-control form-control-sm" value="" id="inptemp"
                        placeholder="Ingrese el valor" required>
                    <input type="text" class="col-sm-1 form-control form-control-sm" value="°C" placeholder=""
                        disabled>
                    <label class="input-group-text" style="width: 35px; color: #773C8D;" for="inptemp"><i
                            class="fa-solid fa-temperature-three-quarters ml-1"></i></label>
                </div>
            </div>

            {{> cie10 }}
            {{> recomendaciones }}

            <div class="body1">
                <div class="mt-5 text-center"><button onclick="event.preventDefault();Guardar()" class="btn btn2"
                        type="submit" id="Guardar">
                        <span><i class="fa-regular fa-floppy-disk"></i> Grabar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>