<div class="container-fluid px-4">
    <h1 class="mt-4 tituloverde">Cuestionario Espirometría</h1>
    <div class="card mb-4">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="left-content">
                <i class="fas fa-table me-1"></i>
                Cuestionario de espirometría
            </div>
            <div>
                <button class="btn position-relative" style="background-color: #793B8E; color: white; padding:0px"
                    id="btnGrabar" onclick="Grabar()" data-toggle="modal" data-target="#modalFormProtocolo">
                    <i class="fa-regular fa-floppy-disk" style="margin: 8px 12px;"></i>
            </div>

        </div>
        <div class="card-body " style="max-height: 70vh; overflow-y: auto; ">
            <input type="text" id="nuncom" style="display: none;" value="0">
            <input type="text" id="codpru_id" style="display: none;" value="33">
            <div class="row">
                <div class="table-responsive ">
                    <div class="table-responsive scrollable-modal">
                        <table class="records_list table table-sm table-bordered letra" id="tabladatos">
                            <thead class="thead sticky-top">
                                <tr>
                                    <th scope="col" style="width:  8% !important;">DNI</th>
                                    <th scope="col" style="width: 24% !important;">NOMBRES Y APELLIDOS</th>
                                    <th scope="col" style="width:  8% !important;">FEC. NAC.</th>
                                    <th scope="col" style="width:  5% !important;">EDAD</th>
                                    <th scope="col" style="width:  8% !important;">SEXO</th>
                                    <th scope="col" style="width: 11% !important;">CARGO</th>
                                    <th scope="col" style="width: 24% !important;">EMPRESA</th>
                                    <th scope="col" style="width: 12% !important;">TIPO DE EVALUACIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td><input class="form-control form-control-sm" maxlength="50" type="text" id="dni">
                                    </td>
                                    <td><input class="form-control form-control-sm" maxlength="50" type="text"
                                            id="nomap">
                                    </td>
                                    <td><input class="form-control form-control-sm" maxlength="50" type="text"
                                            id="fecnac">
                                    </td>
                                    <td><input class="form-control form-control-sm" maxlength="50" type="text"
                                            id="edad">
                                    </td>
                                    <td><input class="form-control form-control-sm" maxlength="50" type="text"
                                            id="sexo">
                                    </td>
                                    <td><input class="form-control form-control-sm" maxlength="50" type="text"
                                            id="cargo">
                                    </td>
                                    <td><input class="form-control form-control-sm" maxlength="50" type="text"
                                            id="empresa">
                                    </td>
                                    <td><input class="form-control form-control-sm" maxlength="50" type="text"
                                            id="tipoeva">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tituloverde">
                        <h6>Fecha de atención : </h6><input type="date" id="fecha" name="fecha">
                    </div>

                    <body>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="cadcermedN">1. ¿Tuvo desprendimiento de la retina o una operación (cirugía) de los
                            ojos, tórax o abdomen, en los últimos 3 meses?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">2. ¿Ha tenido algún ataque cardíaco o infarto al corazón en los
                            últimos 3 meses?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">3. ¿Ha estado hospitalizado(a) por cualquier otro problema del
                            corazón en los últimos 3 meses?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">4. ¿Está usando medicamentos para la tuberculosis, en este
                            momento?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">5. En caso de ser mujer: ¿Está usted embarazada
                            actualmente?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="N" id="cadcermedN"
                                checked>
                            <label for="cadcermedN">No aplica</label>
                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                        </div><br>

                    </body>

                    <div class="tituloverde">
                        <h5>PARA SER LLENADO POR EL PROFESIONAL QUE REALIZA LA PRUEBA
                        </h5>
                    </div>

                    <table class="records_list table table-sm table-bordered letra" id="tabladatos">

                        <tbody>
                            <tr>
                                <td>6</td>
                                <td>HEMOPTISIS</td>
                                <td>
                                    <label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>PNEUMOTORAX</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>TRAQUEOSTOMÍA</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>SONDA PLEURAL</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>ANEURISMAS CEREBRAL, ABDOMEN, TORAX</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>EMBOLA PULMONAR</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>INFARTO RECIENTE</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>INESTABILIDAD CV</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>FIEBRE, NAUSEA, VOMITO</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>EMBARAZO AVANZADO</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 5em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>EMBARAZO COMPLICADO</td>
                                <td><label for="cadcermedS">Sí</label>
                                    <input style="margin-right: 2em" type="radio" name="respuesta1" value="S"
                                        id="cadcermedS">
                                    <label for="cadcermedN">No</label>
                                    <input style="margin-right: 2em" type="radio" name="respuesta1" value="N"
                                        id="cadcermedN" checked>
                                    <label for="cadcermedN">No aplica</label>
                                    <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="tituloverde">
                        <h5>PREGUNTAS PARA TODOS LOS ENTREVISTADOS QUE NO TIENEN LOS CRITERIOS DE EXCLUSIÓN Y QUE POR LO
                            TANTO DEBEN HACER LA ESPIROMETRÍA
                        </h5>
                    </div>

                    <body>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="cadcermedN">1. ¿Tuvo una infección respiratoria (resfriado), en las ultimas 3
                            semanas?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">2. ¿Tuvo Infección en el oido en las ultimas 3 semanas?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">3. ¿Uso aerosoles (sprays inhalados) o nebulizaciones con
                            broncodilatadores, en las útimas 3 horas?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">4. ¿Ha usado algún medicamento broncodilatador toma en las últimas 8
                            horas?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input type="radio" name="respuesta1" value="N" id="cadcermedN" checked>
                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">5. ¿Fumó (cualquier tipo de cigarro), en las útimas dos horas?, si la
                            respuesta es si. Cuántos?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="N" id="cadcermedN"
                                checked>

                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">6. ¿Realizó algún ejercio fisico tuerte (como gimnasia, caminata o
                            trotar), en la útima hora?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="N" id="cadcermedN"
                                checked>

                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">7. ¿Comio en la ultima hora?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="N" id="cadcermedN"
                                checked>

                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">8. ¿Ha sufrido de Tuberculosis? ¿Completo el Tratamiento?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="N" id="cadcermedN"
                                checked>

                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">9. Si es fumador. ¿Ha fumado (cualquier tipo de cigarro), en las
                            últimas dos horas?</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="N" id="cadcermedN"
                                checked>

                        </div><br>

                        <label style="margin-right: 10em; display: inline-block; text-align: left; width: 60em;"
                            for="incfirmmedexaS">10. ¿Sufre de asma? Indicar último cpisodio</label>
                        <div style="display: inline-block; text-align: right;">
                            <label for="cadcermedS">Sí</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="cadcermedS">
                            <label for="cadcermedN">No</label>
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="N" id="cadcermedN"
                                checked>
                        </div><br>

                        <div class="tituloverde">
                            <h6>Nota de personal</h6>
                        </div>

                        <label style="margin-right: 5em; text-align: left; width: 20em;" for="colaboraSi">Persona
                            colabora con la prueba</label>
                        <div style="display: inline-block; text-align: right;">
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="colaboraSi">
                        </div><br>

                        <label style="margin-right: 5em; text-align: left; width: 20em;" for="colaboraNo">No
                            colabora</label>
                        <div style="display: inline-block; text-align: right;">
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S" id="colaboraNo">
                        </div><br>

                        <label style="margin-right: 5em; text-align: left; width: 20em;" for="colaboraPoco">Colabora de
                            forma poco adecuada</label>
                        <div style="display: inline-block; text-align: right;">
                            <input style="margin-right: 5em;" type="radio" name="respuesta1" value="S"
                                id="colaboraPoco">
                        </div><br>

                    </body>

                    <div class="col">
                        <style>
                            canvas {
                                max-width: 100%;
                                width: 100px;
                                height: 125px;
                            }
                        </style>

                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <canvas id="canvas1" width="250" height="125" class="rectangulo-canvas mb-3"></canvas>
                        </div>
                    </div>

                </div>
            </div>


            {{> cie10 }}
            {{> recomendaciones }}
            {{> documentoadicionales }}
        </div>
    </div>
</div>

<script src="/js/historiaclinica/examenes/pbtestpsicologia.js"></script>