<div class="row mt-4">
    <div class="table-responsive scrollable-modal">
        <table class="records_list table table-sm table-bordered letra">
            <thead class="thead sticky-top">
                <tr>
                    <th scope="col" colspan="4">IMPRESIÓN DIAGNÓSTICA</th>
                </tr>
            </thead>
            <tbody>
                <tr class="font-weight-bold">
                    <td colspan="2" style="width: 30%;">CIE 10</td>
                    <td style="width: 35%;">DESCRIPCIÓN</td>
                    <td style="width: 35%;">COMENTARIO</td>
                </tr>
                <tr>
                    <td style="width: 10%;">
                        <div class=" input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm" value="">
                            <button class="input-group-text" style="width: 35px; color: #773C8D;" for="inptemp"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </td>
                    <td><input class="form-control form-control-sm" type="text" disabled></td>
                    <td><input class="form-control form-control-sm" type="text" disabled></td>
                    <td><input class="form-control form-control-sm" type="text"></td>
                </tr>
                <tr>
                    <td>
                        <div class=" input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm" value="">
                            <button class="input-group-text" style="width: 35px; color: #773C8D;" for="inptemp"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </td>
                    <td><input class="form-control form-control-sm" type="text" disabled></td>
                    <td><input class="form-control form-control-sm" type="text" disabled></td>
                    <td><input class="form-control form-control-sm" type="text"></td>
                </tr>
                <tr>
                    <td>
                        <div class=" input-group input-group-sm">
                            <input type="text" class="form-control form-control-sm" value="">
                            <button class="input-group-text" style="width: 35px; color: #773C8D;" for="inptemp"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </td>
                    <td><input class="form-control form-control-sm" type="text" disabled></td>
                    <td><input class="form-control form-control-sm" type="text" disabled></td>
                    <td><input class="form-control form-control-sm" type="text"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>