<nav class="sb-topnav navbar navbar-expand navbarcsp">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/" id="gsp">Grupo San Pedro</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0 " id="sidebarToggle" href="#!"><i
            class="fas fa-bars animate__animated"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <!--<button onclick="leerEnVozAlta(event)">Leer en voz alta</button>-->
        </ul>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">{{user.nomrol}}<i class="fas fa-user fa-fw ml-2"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item opcion" href="/csp/contrasena"><i class="fa-solid fa-user-lock mr-3"
                            style="color: #909090;"></i>Administrar contraseña</a></li>
                <li><a class="dropdown-item" href="/salir"><i class="fa-solid fa-door-open mr-3"
                            style="color: #909090;"></i>Salir</a></li>
            </ul>
        </li>-->
    </ul>
</nav>