<!DOCTYPE html>
<html lang="es">
{{> head }}
<body class="sb-nav-fixed">
    <div class="jm-loadingpage">
        <lottie-player src="/img/jsonimg/loadingintro.json" class="" background="transparent" speed="1"
            style="width: 650px; height: 650px;" loop autoplay></lottie-player>
    </div>
    <div class="content">
        {{> menucabecera }}
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                {{> menulateral }}
            </div>
            <div id="layoutSidenav_content">
                <main id="contenedoropciones" style="max-height: 930px; overflow-y: auto;">
                    <div class="d-flex flex-column align-items-center" style="max-height: 100vh; overflow-y: auto;">
                        <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                            <div class="container-fluid px-4">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 d-flex justify-content-center align-items-center">
                                            <div>
                                                <h2 class="">Bienvenido</h2>
                                                <h1 style="color:#0FA0A7"><strong
                                                        style="color:#793B8E">CSP</strong><strong
                                                        style="color:#0FA0A7">Net</strong><span
                                                        style="font-weight: lighter;"></span></h1>
                                                <p class="">Bienvenido a la intranet de la Clínica San Pedro, donde
                                                    podrá
                                                    visualizar los diferentes tipos
                                                    de reportes y funcionalidades. Si tiene alguna pregunta, no dude en
                                                    ponerse en contacto con el área de
                                                    sistemas de la Clínica San Pedro.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="text-center">
                                                <lottie-player
                                                    src="https://assets10.lottiefiles.com/packages/lf20_1pxqjqps.json"
                                                    background="transparent" speed="1"
                                                    style="max-width: 100%; height: auto;" loop
                                                    autoplay></lottie-player>
                                                <!--<img class="mb-4 img-bienvenida" src="/img/bienvenida1.webp" />-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </main>

                {{> footer }}
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script>
        $(document).ready(function () {
            mostrarmodulos();
            abbreviateTextOnMobile();
            $(window).resize(abbreviateTextOnMobile);
            setTimeout(function () {
                $(".jm-loadingpage").fadeOut("slow", function () {
                    $(".content").fadeIn("slow"); // Muestra el contenido después de desvanecer el div
                });
            }, 500); // Espera 2 segundos antes de desvanecer el div
        });
        // Espera 2 segundos antes de desvanecer el div

        function abbreviateTextOnMobile() {
            const label = $('#gsp');
            const windowWidth = $(window).width();

            if (windowWidth <= 768) { // Cambia este valor según tus necesidades
                label.text('G.S.P.');
            } else {
                label.text('Grupo San Pedro');
            }
        }

        function mostrarmodulos() {

            mostraretiqueta("historiaclinica");
            mostraretiqueta("entidades");
            mostraretiqueta("descargas");
            mostraretiqueta("configuracion");
            

            const contentContainer = $('#contenedoropciones');
            const loadingHtml = `
        <div class="jm-loadingpage">
            <lottie-player src="/img/jsonimg/loading.json" class="" background="transparent" speed="1"
            style="width: 250px; height: 250px;" loop autoplay></lottie-player>
        </div>
    `;

            const links = $('a.opcion');
            if (!links.data('eventAssigned')) {
                links.data('eventAssigned', true);

                links.on('click', async (e) => {
                    e.preventDefault();

                    const url = e.currentTarget.getAttribute('href');
                    if (window.innerWidth <= 768) {
                        const sidebarToggle = document.getElementById('sidebarToggle');
                        sidebarToggle.click();
                    }

                    contentContainer.html(loadingHtml);

                    try {
                        await new Promise(resolve => setTimeout(resolve, 1000));
                        const response = await $.ajax({
                            url: url,
                            method: 'GET',
                        });
                        if (response.includes('login-card-description')) {
                            alert('Tu sesión ha expirado. Por favor, inicia sesión nuevamente.');
                            window.location.href = '/iniciarsesion'; // Cambia a la ruta correcta
                        } else {
                            contentContainer.animate({ opacity: 0 }, 1000, () => {
                                contentContainer.html(response);
                                contentContainer.animate({ opacity: 1 }, 500);
                            });
                        }
                    } catch (error) {
                        console.error(error);
                        // Mostrar un mensaje de error al usuario si lo deseas
                        contentContainer.html(`<div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-6">
                                                    <div class="text-center mt-4">
                                                        <img class="mb-4 img-error" src="/img/404logo.jpg" />
                                                        <p class="lead">
                                                            Esta URL solicitada no se encontró en este servidor.</p>
                                                        <a href="/">
                                                            <i class="fas fa-arrow-left me-1"></i>
                                                            Regresar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`);
                    }

                });
            }
        }



        document.addEventListener('contextmenu', function (event) {
            var target = event.target;
            if (target.tagName === 'A') {
                event.preventDefault();
                alert("Acceso no permitido en nueva pestaña, ¡Duplicar!.");
            }
        });
    </script>

</body>

</html>