<div class="row mt-4">
    <div class="table-responsive scrollable-modal">
        <table class="records_list table table-sm table-bordered letra" id="tablerecoemndaciones">
            <thead class="thead sticky-top">
                <tr>
                    <th scope="col" style="width: 70% !important;">RECOMENDACIONES Y CONTROLES</th>
                    <th scope="col" style="width: 30% !important;">CONTROL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control form-control-sm" type="text" id="recomendacion1"></td>
                    <td><input class="form-control form-control-sm" type="text" id="control1"></td>
                </tr>
                <tr>
                    <td><input class="form-control form-control-sm" type="text" id="recomendacion2"></td>
                    <td><input class="form-control form-control-sm" type="text" id="control2"></td>
                </tr>
                <tr>
                    <td><input class="form-control form-control-sm" type="text" id="recomendacion3"></td>
                    <td><input class="form-control form-control-sm" type="text" id="control3"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>