<div>
    
    <div class="input-group input-group-sm px-3">
        <span class="input-group-text" style="font-size: 15px; font-weight: bold; color: #793B8E;">SIGNOS VITALES</span>
        <span class="input-group-text">FC</span>
        <input type="text" class="form-control form-control-sm" id="fc" placeholder="fc" aria-label="fc" disabled>
        <span class="input-group-text">PA</span>
        <input type="text" class="form-control form-control-sm" id="pa" placeholder="pa" aria-label="pa" disabled>
        <span class="input-group-text">FR</span>
        <input type="text" class="form-control form-control-sm" id="fr" placeholder="fr" aria-label="fr" disabled>
        <span class="input-group-text">SAT O2</span>
        <input type="text" class="form-control form-control-sm" id="sato2" placeholder="sato2" aria-label="sato2" disabled>
        <span class="input-group-text">TALLA</span>
        <input type="text" class="form-control form-control-sm" id="talla" placeholder="talla" aria-label="talla" disabled>
        <span class="input-group-text">PESO</span>
        <input type="text" class="form-control form-control-sm" id="peso" placeholder="peso" aria-label="peso" disabled>
        <span class="input-group-text">IMC</span>
        <input type="text" class="form-control form-control-sm" id="imc" placeholder="imc" aria-label="imc" disabled>
    </div>
</div>