<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/img/favicon.png" rel="icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Dante Velasquez Laos">
  <meta name="Keywords"
    content="libro,libro clinica san pedro,libro clínica san pedro,libro de reclamaciones clinica san pedro,libro de reclamaciones clínica san pedro,clinica san pedro libro de reclamaciones, clínica san pedro libro">
  <title>Intranet San Pedro</title>
  <link href="../css/stylelogin.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    referrerpolicy="no-referrer">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body class="sb-nav-fixed">
  <div class="jm-loadingpage">
    <img class="imagen-diferido logo animate__animated animate__jackInTheBox" data-src="/img/logo.png" alt="logo">
  </div>
  <div class="content">
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
      <div class="container">
        <div class="card login-card">
          <div class="row no-gutters">
            <div class="col-md-5">
              <img data-src="/img/Inicio5.webp" alt="login" class="imagen-diferido login-card-img">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <div class="brand-wrapper">
                  <img class="imagen-diferido logo animate__animated animate__heartBeat" data-src="/img/logo.png"
                    alt="logo">
                </div>
                <p class="login-card-description">Bienvenido</p>
                <form id="form-iniciar-sesion">
                  <div class="form-group">
                    <label class="input">
                      <input class="input__field form-control form-control-lg" id="username" name="username" type="text"
                        autocomplete="current-password" placeholder=" " required autofocus>
                      <span class="input__label">Usuario</span>
                      <span class="span"><i class="bi bi-person"></i></span>
                    </label>
                  </div>
                  <div class="form-group mb-4">
                    <label class="input">
                      <input class="input__field form-control form-control-lg" id="password" name="password"
                        autocomplete="current-password" type="password" placeholder=" " required>
                      <span class="input__label">Contraseña</span>
                      <span class="span"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
                    </label>
                  </div>
                  <button type="submit"
                    class="login-btn btn-block animate__animated animate__headShake animate__infinite" id="btn">
                    <span>Ingresar</span>
                  </button>
                </form>
                <a href="#!" id="btn-modal" class="forgot-password-link">¿Has olvidado tu contraseña?</a>
                <p class="login-card-footer-text"><a href="#!" class="text-reset"></a></p>
                <nav class="login-card-footer-nav">
                  <a href="#!" id="btn-modal1">Términos de uso.</a>
                  <a href="#!">Política de privacidad</a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- Coloca esto en el lugar adecuado de tu vista -->



  <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
  <script src="/js/script.js" defer></script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      // Función para hacer una solicitud AJAX
      function ajaxRequest(url, method, data, successCallback, errorCallback) {
        $.ajax({
          url: url,
          method: method,
          data: data,
          success: successCallback,
          error: errorCallback
        });
      }

      // Manejar el formulario de inicio de sesión
      var formIniciarSesion = document.querySelector('#form-iniciar-sesion');
      formIniciarSesion.addEventListener('submit', function (e) {
        e.preventDefault();
        var username = document.querySelector('#username').value;
        var password = document.querySelector('#password').value;

        ajaxRequest('/iniciarsesion', 'POST', { username: username, password: password },
          function (data) {
            if (data === 'error') {
              mensaje('error', 'Acceso incorrecto', 2000);
            } else {
              window.location.href = '/';
            }
          }
        );
      });

      // Mostrar modal al hacer clic en el botón
      var btnModal = document.querySelector('#btn-modal');
      btnModal.addEventListener('click', function () {
        mensaje('info', 'Contactar al área de sistemas para un restablecimiento de contraseña.', 4000);
      });

      var btnModal1 = document.querySelector('#btn-modal1');
      btnModal1.addEventListener('click', function () {
       alert('probando');
      });

      // Alternar la visibilidad de la contraseña
      var togglePassword = document.querySelector('#togglePassword');
      var password = document.querySelector('#password');
      togglePassword.addEventListener('click', function () {
        var type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        togglePassword.classList.toggle('bi-eye');
      });

      // Cargar imágenes de manera diferida
      var imagenesDiferido = document.querySelectorAll('.imagen-diferido');
      for (var i = 0; i < imagenesDiferido.length; i++) {
        var imagen = imagenesDiferido[i];
        var src = imagen.getAttribute('data-src');
        if (src) {
          imagen.setAttribute('src', src);
          imagen.style.display = 'block';
        }
      }

      // Desvanecer el div de carga después de un tiempo
      setTimeout(function () {
        $(".jm-loadingpage").fadeOut("slow", function () {
          $(".content").fadeIn("slow");
          document.getElementById("username").focus();
        });
      }, 800);



    });

  </script>
</body>

</html>